@charset "utf-8";
/**
 * by wkpark 2009/7/31
 */

/* My page */
#content_wrap .snb h2 {display:none;}

#user_content {width:940px; padding:0 auto 0 auto; text-align:left;}
#user_content h3
 {background:transparent url(../images/bg_bar05.jpg) no-repeat scroll 10px 18px; color:#424E5A; font-size:14px;letter-spacing:-1px; padding:19px 0 1px 19px; position:relative; }
/* issue/forum */
.brd_project2 td span.hit {font-family:verdana,sans-serif; font-size:9px; color:#FA6F46;}
.brd_project2 td.check {text-align:center;}
.brd_project2 td.num_id {text-align:center;}
.brd_project2 td.num_id span {color:#686868;}
.subject label { display:none;}
.write_form {
 margin-top:9px;
}
.write_form input.subject {
 border: 1px solid rgb(207,207,207);
 padding:4px 0 0 7px;
}
.write_form textarea.textarea {
 width: 807px;
 border: 1px solid rgb(207,207,207);
 padding:5px;
 margin-bottom:10px;
}
table.write_form {}

.write_form .icon-clip {
 margin-right:2px;
 font-weight:bold;
 padding-top:3px;
 display:inline-block;
}
table.write_form div.btns form, table.write_form div.btns p { display:inline-block; }

div.uploadForm td {border:none;}
div.uploadForm tr {border:none;}

/* button tag styling */
button,
.uploadForm button {
  _width:auto; /* */
  background:url('../images/btn_small.png') no-repeat left top;
  height: 20px;
  display:inline-block;
  margin:0;
  padding:0;
  text-align:center;
  border:0;
  overflow:visible;
  cursor:pointer;
  padding-left:3px;
  _overflow-y:hidden;
  vertical-align:top;
}

button span,
.uploadForm button span {
  display:inline-block;
  white-space:nowrap;
  padding: 0 10px 0 8px;
  border:none;
  background:url('../images/btn_small.png') no-repeat right top;

  font-family: Dotum, monospace, sans-serif;
  font-size:11px;
  color:#646464;
  letter-spacing:-1px;
  line-height:19px;
  padding-top: 2px;
  vertical-align:top;
}

button span,
.uploadForm button span {
  _margin-right: 0px; /* Internet Explorer 6 */
  margin-top: 0px\9; /* Internet Explorer 6, 7, 8 */
}

html>/**/body button span, x:-moz-any-link, x:default {
  margin-top: -1px; /* Mozilla Firefox 3+ */
  margin-right: -3px;
}

html>/**/body .uploadForm button span, x:-moz-any-link, x:default button span {
  margin-top: -1px; /* Mozilla Firefox 3+ */
  margin-right: -3px;
}

/* Safari and Google Chrome only – fix margins */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  button span, .uploadForm button span {
    margin-top: -1px;
    margin-right: -3px;
  }
}
*/

.uploadForm button.add-file {
  background:url('../images/btn_small-plus.png') no-repeat left top;
  padding-left: 16px;
  margin-right:0px;
}

.uploadForm button.add-file span {
  padding-left:0;
  _padding-top: 2px; /* IE */
  vertical-align:top;
}

.uploadForm button.upload-file {
  background:url('../images/btn_small-up.png') no-repeat left top;
  padding-left: 16px;
  _margin-right:6px;
}

.uploadForm button.upload-file span {
  padding-left:0;
  _padding-top: 2px; /* IE */
}

.uploadForm input.fake-file {
  vertical-align: middle;
  border:1px solid #cfcfcf;
  width:292px;
  background:url("../images/x2.png") no-repeat 290px 3px; /* reset icon */
  font-family:DotumChe, monospace, sans-serif;
  font-size:12px;
  padding:2px;
  padding-right:11px;
  margin-right:4px;
  margin-bottom:4px;
  _height:15px;
  _margin-top:-2px;
}

.uploadForm .form-file {
  padding:0;
  margin:0;
  font-size:12px;
  height:20px;
  width:64px;
  left:-3px; /* */
  filter:alpha(opacity=0.0); /* comment this 2-lines out to see real upload form */
  opacity:0; /* */
  cursor:pointer;
}

.uploadForm .icon-clip {
  display:block;
  /*width:16px;
 *   margin-top:3px; */

  /* from label */
  font-weight: bold;
  font-family: GulimChe, sans-serif;
  vertical-align: middle;
  line-height: 100%;
  padding: 5px 10px 0 0px;
  color:#4d4d4d;
}
.uploadForm {
  padding-top:6px;
  padding-bottom:5px;
}

*html .uploadForm .form-file { height:26px; margin-top:-3px; }
*+html .uploadForm .form-file { height:26px; margin-top:-3px; top:0;}
.uploadForm .form-file, x:-moz-any-link, x:default { left: 0px;} /* XXX Firefox Fix */

/* generic content with left sidemenu */
.0content {position:relative; float:left; width:832px; padding:0 0 0 148px;}

/* project_control_tracker------// start // ------------------------------------------------------
.project_con_warp {border-right:1px solid #EBEBEB; padding:10px 12px 40px 0; position:relative; width:819px;}

.project_con_warp dd { margin:0; padding:0; }

.project_con_warp {min-height:400px; _height: expression( this.scrollHeight < 401 ? "400px" : "auto" ); }
.project_con_warp .h3_project {background:transparent url(../images/bg_bar05.jpg) no-repeat scroll 10px 18px; color:#424E5A; font-size:14px; letter-spacing:-1px; padding:19px 0 1px 19px; position:relative;}
.project_con_warp .issue1 {float:left; width:402px; background:#FFF;}
.project_con_warp .issue2 {float:right; width:402px; background:#FFF; margin:0 3px 0 0;}
.project_con_warp .scroll {overflow-y:scroll; width:402px; height:297px; border:1px solid #cacaca; margin-top:6px;}
.project_con_warp .scroll li {border-bottom:1px solid #e5e5e5; padding-left:10px; line-height:29px; color:#666;}
.project_con_warp .scroll li.select {background:#ffffb2; font-weight:bold;}

/* admin page 
#content_wrap 
{ position:relative; float:left; width:832px; padding:0 0 0 148px; overflow:hidden; margin-top:0; min-height:400px; height:100%;}
#content
{background:#FFFFFF none repeat scroll 0 0; border-right:1px solid #EBEBEB; position:relative; padding-right:12px; width:819px;}
#content h3
 {background:transparent url(../images/bg_bar05.jpg) no-repeat scroll 10px 18px; color:#424E5A; font-size:14px;letter-spacing:-1px; padding:19px 0 1px 19px; position:relative; }
#content h3 .txt01
 {font-size:11px; color:#999; font-weight:normal; position:absolute; right:0; top:20px;}
#content h3 .txt02
 {font-size:11px; color:#999; font-weight:normal; position:absolute; right:0; top:40px;}
#content h4
 {background:transparent url(../images/bg_bar05.jpg) no-repeat scroll 10px 18px; color:#424E5A; font-size:14px;letter-spacing:-1px; padding:19px 0 1px 19px; position:relative; }
#content ul
 {list-style:none;}
admin page end 

project_control_tracker------// end // ------------------------------------------------------ */


/* admin page */
#content_wrap 
{ position:relative; float:left; width:832px; padding:0 0 0 148px; overflow:hidden; margin-top:0; height:100%;}
#content_project_sub #content
{background:#FFFFFF none repeat scroll 0 0; border-right:1px solid #EBEBEB; position:relative; padding-right:12px; width:819px;}

/* ------- override for 2-column Fixed-Fluid layout */
#content_project_sub #content {
	background:none;
	position:relative;
	border-right:none; /* fixed */
	padding-right:0; /* fixed */
	float:left; /* fixed */
	width:820px; /* XXX fixed */
}

#content_wrap #content {
	padding-left:9px;
	padding-right:12px;
	padding-bottom:12px;
}
#content_wrap {
	position:relative;
	float:none; /* fixed */
	width:auto; /* fixed */
	padding:11px 0 0 0; /* fixed */
	overflow:hidden;
	margin-top:0;
	height:100%;
	border-right:1px solid #EBEBEB;
}
/* -----// override for 2-column Fixed-Fluid layout */

#error_content h3,
.warning h2,
#content h3
 {background:transparent url(../images/bg_bar05.jpg) no-repeat scroll 10px 18px; color:#424E5A; font-size:14px;letter-spacing:-1px; padding:19px 0 1px 19px; position:relative; margin-bottom:5px;}
#content h3 .txt01
 {font-size:11px; color:#999; font-weight:normal; position:absolute; right:0; top:20px;}
#content h3 .txt02
 {font-size:11px; color:#999; font-weight:normal; position:absolute; right:0; top:40px;}
#content h4
{display: none; background:transparent url(../images/bg_bar05.jpg) no-repeat scroll 10px 18px; color:#424E5A; font-size:14px;letter-spacing:-1px; padding:19px 0 1px 19px; position:relative; }
#content h4
{display: block; background:transparent url(../images/bg_bar05.jpg) no-repeat scroll 10px 9px; color:#424E5A; font-size:14px;letter-spacing:-1px; padding:9px 0 4px 19px; position:relative; }

#content h4.stit {display:none;} /* hide old theme title. admin tracker title */
/* for project/mainsite rss page */
#content .contents ul li {margin-left:30px; list-style-type:square;}

#project_content a,
#content a {color:#676767;}
#project_content a:hover,
#content a:hover {color:#447299;}
#project_content a:visited,
#content a:visited {color:#676767;}

/* generic list */
.generic-list {width:819px; border-top:1px solid #a8a8a8; border-bottom:1px solid #bfbfbf; margin:6px 0 0 0; }
:root .generic-list {width:819px;border-top:1px solid #a8a8a8; border-bottom:1px solid #a8a8a8; margin-top:5px; }
.brd_project {margin-bottom: 76px;}
.generic-list th {height:33px; font-size:11px; letter-spacing:-1px; color:#505050; font-weight:normal; background:url('../images/bg_commit_lot_th.jpg') repeat-x left top;}
.generic-list th.pdr_10 {padding-right:10px;}
.generic-list th.select_box {padding-left:15px; text-align:left;}
.generic-list th.first {text-align:left; padding-left: 10px;}
.generic-list th.tit {padding-right:240px;}
.generic-list th select{width:72px; font-size:12px; color:#666; font-weight:bold;font-family:dotum; }
.generic-list th a {color:#666;}
.generic-list th.first {text-align:left; padding-left: 10px;}
.generic-list td {height:31px; color:#666; border-bottom:1px solid #e5e5e5;} 
.generic-list td.w61 {width:61px; font-size:11px; font-family:tahoma; text-align:center; color:#666;}
.generic-list td.w63 {width:63px; font-size:11px; font-family:tahoma; text-align:center; color:#666;}
.generic-list td.mag {width:73px; font-size:11px; font-family:dotum; text-align:center; color:#666;}
.generic-list td.action {width:51px; font-size:11px; font-family:dotum; text-align:center; color:#666; padding:0 10px 0 0;}
.generic-list td.revision { font-size:12px; font-family:dotum; text-align:left; color:#999; padding:0 0 0 14px;}
.generic-list td.revision a { font-size:12px; font-family:dotum; text-align:left; color:#666;}
.generic-list td.select {width:170px; font-size:12px; font-family:dotum; text-align:left; color:#666; padding:0 0 0 14px;}
.generic-list td.number {width:105px; font-size:11px; font-family:tahoma; text-align:center;  color:#666;}
.generic-list td.importance {width:100px; font-size:11px; font-family:tahoma; font-weight:bold; text-align:center; color:#666;}
.generic-list td a {color:#666;}
.generic-list td.news_subject {padding:0 0 0 15px;  color:#666;}
.generic-list td.news_subject a { color:#666;}
.generic-list td.news_subject span {font-size:9px; font-family:verdana; color:#fa6f46;}
.generic-list td.news_writer {width:90px; color:#666; font-size:11px; font-family:verdana; text-align:center;}
.generic-list td.news_writer span {color:#666; font-size:11px; font-family:verdana; }
.generic-list td.news_date {width:70px; text-align:center; font-family:tahoma; font-size:11px; color:#666;}
.generic-list td.news_nonews {text-align:center}
.generic-list tr.first td {height:30px;}
.generic-list tr.last td {border:none; border-bottom:1px solid #bfbfbf;}


/* generic write form */
.generic-write {width:819px; border-top:1px solid #a8a8a8; border-right:1px solid #e5e5e5; border-bottom:1px solid #a8a8a8; border-left:1px solid #e5e5e5;}
:root .generic-write {width:819px; border-top:1px solid #a8a8a8; border-right:1px solid #e5e5e5; border-bottom:1px solid #a8a8a8; border-left:1px solid #e5e5e5; margin-top:1px;}
.generic-write tr.last {border:none;}
.generic-write th {
	border-bottom:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	border-left:1px solid #e5e5e5;
	padding:9px 0 8px 6px;
	text-align:left;
	background:#fafafa;
	font-weight:normal;
	font-size:12px;
	color:#4d4d4d;
}
.generic-write td {border-bottom:1px solid #e5e5e5; padding-left:11px; font-size:12px; color:#666;}
.generic-write td select{font-size:12px; color:#666; font-family:dotum; }
.generic-write td label {padding:0 102px 0 3px; position:relative; top:1px;}
.generic-write td .input_check {width:13px; height:13px;}
.generic-write td .input_box {width:337px; border:1px solid #CFCFCF; font-family:dotum; color:#666; padding:3px 0 3px 7px;}
.generic-write td .long_input_box {width: 97%; border:1px solid #CFCFCF; font-family:dotum; color:#666; padding:3px 0 3px 7px;}
:root .generic-write td .input_box {width:337px; border:1px solid #CFCFCF; font-family:dotum; color:#666; padding:3px 0 3px 7px;  position:relative; top:0;}
.generic-write div.api_suj {padding:7px 100px 6px 0; line-height:16px; position:relative;}
.generic-write div.api_suj .btn {padding:7px 9px 6px 0; position:absolute; bottom:5px; right:0px; }
:root .generic-write div.api_suj .btn {padding:7px 9px 6px 0; position:absolute; bottom:2px; right:0px; }

.generic-write td textarea {
	margin:11px 11px 11px 0;
	width:98.5%;
}

.generic-write table td {
	padding:4px;
	border:none;
}

.change-passwd {
	width:50%;
}
.change-passwd .generic-write {
	width:100%;
}

.change-passwd p.btns {
	padding-top:15px;
	float:right;
}

.generic-write table th.last {
	border-bottom:none;
}

.generic-write td.tracker {
	padding:0px;
}

.generic-write.simple th.label {
	display:inline;
	_display:none; /* IE OK */
	width:0px;
	height:0px;
	margin:0;
	padding:0;
}
.generic-write.simple th.label p {
	width:0;
	height:0;
	display:none;
}

.generic-write.simple th {
	background-color:transparent;
}

.generic-write.simple td textarea {
	width: 807px;
	border: 1px solid rgb(207,207,207);
	padding:5px;
	font-size:12px;
}

.generic-write.simple td input.subject {
	font-size:12px;
	font-weight:bold;
	width:810px;
}

.generic-write.simple {border:0;}
.generic-write.simple td {border:0; padding:0;}
.generic-write.simple th {border:0;}

.btn_area { text-align: right; }


/* Buttons */
a.button, a.button span {
 background-image:url("../images/btn_normal.png");
}
a.button span {
 margin-left:4px;
 padding:8px 12px 8px 11px;
 color:#555;
 font:12px/12px dotum,Sans-serif;
}
*html a.button span {left:4px;}
*+html a.button span {left:4px;}

a.button {
	background-position:left top;
	display:inline-block;
	text-decoration:none;
	cursor:pointer;
}
a.button:hover {text-decoration:none;}
a.button span {
	background-position:right top;
	display:inline-block;
}
/* Large Size */

a.button.large, a.button.large span {
 background-image:url("../images/btn_large.png");
}

a.button.large {
 margin-right:4px;
}

a.button.large span {
 padding:11px 18px 11px 15px;
 color:#555;
 font:12px/12px dotum,Sans-serif;
 letter-spacing:-1px;
}
a.button.large, x:-moz-any-link {
 font:0/20px dotum,Sans-serif;
 padding:10px 0;
} /* Firefox 2 Fix */
a.button.large, x:-moz-any-link, x:default {
 padding:0;
} /* Firefox 2 Fix */

/* Small Size */
a.button.small {
 margin-right:4px;
 overflow:visible;
 *vertical-align:middle;
}
a.button.small, a.button.small span {
 background-image:url("../images/btn_small.png");
}
a.button.small span {
 color:#555;
 padding:5px 8px 5px 4px;
 font:11px/11px dotum,Sans-serif;
 letter-spacing:-1px;
}
a.button.small, x:-moz-any-link {
 font:0/20px dotum,Sans-serif;
 padding:10px 0;
} /* Firefox 2 Fix */
a.button.small, x:-moz-any-link, x:default {
 padding:0;
} /* Firefox 2 Fix */

/* view button */

a.button.view, a.button.view span {
	background-image:url("../images/btn_small.png");
}

a.button.view {background-position:left -63px; margin-left:3px;}
a.button.view span {background-position:right -63px;}

a.button.view span {
	color:#606060;
	padding:5px 11px 4px 7px;
	_padding-top:6px;
	color:#555;
	font:11px/11px dotum,Sans-serif;
	letter-spacing:-1px;
}

a.button.view, x:-moz-any-link {
 	font:0/20px dotum,Sans-serif;
	font-family: Dotum,Sans-serif;
	padding:10px 0;
}
a.button.view, x:-moz-any-link, x:default {
	padding:0;
}

/* tab */
.project_tab {
 height:29px;
 margin-bottom:20px;
}

.project_tab ul li {
	list-style:none;
	float:left;
	color:#999;
	font-weight:bold;
	border-left: 1px solid #dadada;
	border-right: 1px solid #dadada;
	border-top: 1px solid #dadada;
	/* border-bottom: 1px solid #a8a8a8; */
	background-color: #fdfdfd;
	margin:0;
	vertical-align: middle;
	height: 27px;
	padding:0;
	font-size:12px;
	font-family:Sans-serif;
}

.project_tab ul li:last-child {
	border-right: 1px solid #dadada;
}

.project_tab ul li.on {
	_height: 28px;
	border-left: 1px solid #a8a8a8;
	border-top: 1px solid #a8a8a8;
	border-right: 1px solid #a8a8a8;
	border-bottom: 1px solid white;
	position: relative;
	margin-bottom: -1px;
	background: none;
}

.project_tab ul li a,
.project_tab ul li a span {
 position:relative;
 display:inline-block;
 margin-right:1px;
 text-decoration:none !important;
 cursor:pointer;
 white-space:nowrap;
 vertical-align:middle;
 *vertical-align:top;
 height: 20px;
}

*+html .project_tab ul li a span { vertical-align:top; }

.project_tab ul li a {
 padding:0;
 overflow:visible;
}
.project_tab ul li.save_search_query a span {
 padding-left:5px;
 padding-right:7px;
 color: #555555;
}
.project_tab ul li a.delete_button,
.project_tab ul li a.delete_button span,
.project_tab ul li.on a.delete_button,
.project_tab ul li.on a.delete_button span {
	background: none;
}

.project_tab ul li.on a {
 position:relative;
 display:inline-block;
 margin-right:1px;
 text-decoration:none !important;
 cursor:pointer;
 white-space:nowrap;
 vertical-align:middle;
 *vertical-align:top;
}
.project_tab ul li.on a {
 padding:0;
 overflow:visible;
}
.project_tab ul li.on a span {
 left:1px;
 padding:9px 23px 8px 23px;
 color:#333333;
 font:11px/11px dotum,Sans-serif;
 font-weight:bold;
 letter-spacing:-1px;
 background-position:right -29px;
}
/* override default */
.project_tab {
 list-style:none;
 font-weight:normal;
 height:29px;
 margin-bottom:0px;
 padding:0;
}
.project_tab ul {
 background: url("../images/tab_bg.gif") repeat-x left 0px;
 _background: none;
 _border-bottom: 1px solid #a8a8a8;
 height: 29px;
}

.project_tab ul li a span {
 display:inline-block;
 font-weight:normal;
 margin:0;
 min-width:69px !important;
 padding:8px 0 0 0;
 padding-left:auto;
 padding-right:auto;
 text-align:center;
 color: black;
 line-height:140%;
 color:#808080;
 width:69px;
 left:1px;
 font:11px/11px dotum,Sans-serif;
 letter-spacing:-1px;
 overflow: hidden;
}

/* .project_tab li img {opacity:0.4;
filter:alpha(opacity=40);
margin:-2px 4px 0 0;
 vertical-align:middle;
} */
.project_tab ul li a:hover {
 text-decoration:none;
}
.project_tab ul li.on a {
	margin:0;
	_overflow:hidden;
}
.project_tab ul li.on a span {
	margin:0;
	min-width:69px !important;
	padding:8px 0 0px 0;
	padding-left:auto;
	padding-right:auto;
	border-bottom: 1px solid white;
	line-height:140%;
	width:69px;
}
*+html .project_tab ul li.on a span {
 padding-top:7px;
 height:22px;
}
*+html .project_tab ul li a span {
 padding-top:7px;
 height:21px;
}

/* on tab shadow effect */
.project_tab ul li.on a span {
 margin-right:1px;
}

#project_content .sub_title, #content .sub_title, #content .sub-title, #project_content .sub-title {
 display:none;
}

#error_content {
	float:left;
	position:relative;
	padding:0 0 0 12px;
	border-right:none;
}

#error_content p {
	padding:10px;
}

#error_content h3 {
	padding-top:5px;
	background-position:10px 5px;
}

.warning, .error {
  padding-bottom:20px;
}
.warning a { color:#676767;}

.fl {float: left;}
.fr {float: right;}

.goto {float:left; display:inline-block;margin:0; padding:0;padding-right:3px;}

/* advanced search button */
.search_default {position:absolute; right:12px; margin-top:-24px; display:block; height:25px; padding-right:1px; padding-bottom:1px; }
.search_default .detail {float:left; padding:0; display:inline-block; margin-left:3px; padding-top:0px; _padding-top:0px; font-size:11px;}
.search_default .detail img {margin:3px 4px 0 0px; _margin-top:0px; _margin-right:4px; vertical-align:middle;}
.search_default .detail a span span {padding:0; background:none;}
.search_default .detail a span { margin:0; padding-left:0; _padding-bottom:3px; }
.search_default .fr {float:right; display:inline; margin-right:4px;}
.search_default input.input_txt {_margin-top:-1px; height:16px; _height:15px;}
#searchquery {clear:both;}
#register_btn_top {display:none;}

/* code history */
.code_history {float:right; height:100%; padding-bottom:20px; }
.code_history ul {width:250px; margin:14px 0 25px 11px;}
.code_history ul li {display:inline; padding:0 1px 0 0;}
.code_history ul li a.button span {width:121px; padding-right:0; padding-left:0; text-align:center;}

/* download */
.add-release.top {display:none;}
.add-release.bottom {text-align:right;}
.add-release.bottom span {font-weight:bold;}

/* Project registration */
.project-register p.detail { display:none; }
#content p.short-desc,
.project-register p.short {
	color:#999999;
	font-size:11px;
	font-weight:normal;
	position:absolute;
	right:0;
	margin-top:-20px;
	padding-right:12px;
}
#content p.description {
	padding:15px;
}

.project-register .generic-write { margin-top:5px;}
.project-register div.basic { margin-bottom:20px;}
.project-register div.required { margin-bottom:20px;}
.project-register div.register {
	border-top:1px solid #bfbfbf;
	margin-top:39px;
	padding:15px 0 30px 0;
	text-align:center;
}

.project-register textarea {
	width:99.8%;
	border:1px solid #CFCFCF;
}

.project-register .generic-write td label { padding-right: 5px;}

/* Release Notes */
.release-btns {
	clear:both;
	position:relative;
	text-align:center;
	padding:10px 0 30px 0;
	_padding:11px 0 30px 0;
}
.release-btns p {position:absolute; right:0; top:10px; _right:11px;}

.release-form {margin:11px 0 11px 0;}

a.del-link {
	display:inline-block;
	background:url("../images/icon_delete.gif") no-repeat;
	background-position: center center;
	text-decoration: none;
	margin-left: 8px;
}

a.del-link span {
	visibility:hidden;
}

/* selectbox from nforge-dev theme */
.selectbox-naked *{display:none;}
.selectbox-naked input,
.selectbox-naked select{display:inline;}
.selectbox-naked select *{display:block;}
.selectbox-applied select{display:none;}
.selectbox-applied .selectbox-box{border:1px solid #d7d7d7; background:#fff url("../images/bu_arrow_sel.gif") right 50% no-repeat; font-size:12px; color:#777; cursor:pointer; _cursor:hand; height: 18px; width:auto;}
.selectbox-focused .selectbox-box{border-color:#d7d7d7;}
.selectbox-applied .selectbox-label{text-align:left; overflow:hidden; margin:3px 0 0 4px;}
.selectbox-applied .selectbox-layer{overflow:hidden;position:absolute; z-index:99999;border:1px solid #d7d7d7; margin-top:-1px; width:auto;}
.selectbox-applied .selectbox-list{overflow-y:auto; list-style:none; margin:0; padding:0; font-size:12px; color:#777; width:auto; scrollbar-face-color:#fff; scrollbar-highlight-color:#fff; scrollbar-shadow-color:#e1e1e1; scrollbar-3dlight-color:#e1e1e1; scrollbar-arrow-color:#a9a9a9; scrollbar-track-color:#f7f7f7; scrollbar-darkshadow-color:#fff; scrollbar-base-color:#fff;}
.selectbox-applied .selectbox-list li{float:none; width:auto; cursor:pointer; _cursor:hand; margin-right:0; padding:2px 0; text-indent:5px; background:#fff; text-align:left; letter-spacing:0;}
.selectbox-applied .selectbox-list li.selectbox-item-hovered{background-color:#f6f6f6; color:#777;}
.selectbox-applied {float:left;padding-left:4px;}

/* Generic */
.generic-box .summary { position:relative; }
.generic-box .summary h3 {
	width:804px;
	height:25px;
	padding:15px 0 0 15px;
	border-bottom:1px solid #bfbfbf;
	font-size:14px;
	color:#333;
	letter-spacing:-1px;
}
.generic-box .summary h3 span {font-weight:normal;}
.generic-box .summary span.group_name {width:804px; height:25px; font-size:12px; color:#333; letter-spacing:-1px; font-weight:bold; color:#999; }
.generic-box .summary span.add_relpy {position:relative; top:-2px;font-size:9px; font-family:verdana; color:#ff6318;}
.generic-box .summary p.date {
	position:absolute;
	right:16px;
	top:16px;
	color:#999;
	font-size:11px;
	font-family:tahoma, sans-serif;
}

.generic-box .content {
	padding:20px 15px 15px 15px;
}

.generic-box .extra p.reply_no {
	color: rgb(255,99,24);
	font-weight:bold;
	padding-left:14px;
}

.generic-box .extra {
	padding-bottom:8px;
}

.list {border:0px solid #e5e5e5; float:left; width:100%}
*+html .list {margin-bottom:30px;}
.list div {float:left; padding:15px 28px 0 30px}
.list ul {
	list-style:none;
	margin:20px 15px 30px 15px;
	float:left;
	border:1px solid #e5e5e5;
	background:#fafafa;
	padding:10px 0 10px 0;
	_display:inline; /* for double margin bug */
	_margin-bottom:5px;
}

.list ul li {
	position:relative;
	line-height:200%;
	display:inline;
	float:left;
	width:305px;
	padding:0 0 0 8px;
	margin:0 40px 0 40px;
	color:#4d4d4d;
	letter-spacing:-1px;
	background:url('../images/bu_dot_gray02.jpg') no-repeat left 11px;
	text-align:left;
}

.list ul li span {
	color:#999;
	line-height:100%;
}

.list ul li span.filename {
}

.list ul li span.filename a {
	font-family:Dotum, sans-serif;
	font-weight:bold;
	letter-spacing:0;
	color:rgb(77,77,77);
}

.list ul li em {
	font-family:verdana, sans-serif;
	font-style:normal;
	font-size:10px;
	color:rgb(153,153,153);
}

.list ul li a.btn-link {
	float:none;
	position:absolute;
	right:1px;
	top:1px;
	font-family:Dotum, sans-serif;
	letter-spacing:-1px;
}

.list ul li a.btn-link span {
	color:#646464;
}

#image_view_div {
	border:3px solid #c0c0c0;
}

.bx_set li {
	list-style-type:none;
}
