@charset "utf-8";

/* Calendar */
.calendar {
	display:none;
	position:absolute;
	top:140px;
	left:208px;
	width:292px;
	height:193px;
	z-index:15;
	background:#fff;
}

.layerCalendar {
	width:270px;
	height:193px;
	padding:0 11px 0 11px;
	background:url('../images/bg_caledar.jpg') no-repeat left top;
}

.this_month {
	height:28px;
	padding:17px 0 0 0;
	text-align:center;
	color:#333;
	font-family:tahoma;
	font-size:14px;
	font-weight:bold;
}

.this_month  span {
	font-family:dotum;
	font-size:11px;
	font-weight:normal;
	text-decoration:underline;
	letter-spacing:-1px;
}

.layerCalendar table {
	width:270px;
	border:none;
}

.layerCalendar table thead th {
	height:15px;
	font-weight:normal;
	background:#f2f2f2;
	color:#666;
	text-align:center;
	width:38px;
	padding:0;
	border:none;
	font-size:9px;
	font-family:tahoma;
}

.layerCalendar table thead th.sun {
	color:#ff676d;
}

.layerCalendar table tbody td {
	text-align:center;
	padding:0;
	border:none;
	height:22px;
}

.layerCalendar table tbody td button{
	border:none;
	background:none;
	font-size:9px;
	font-family:tahoma;
	color:#333;
	width:21px;
	height:18px;
}

.layerCalendar table tbody td.sun button{
	color:#ff191b;
}

.layerCalendar table tbody tr.first td {
	padding-top:10px;
}

.layerCalendar table tbody td button.active {
	font-weight:bold;
	color:#fff;
	background:#ff4548;
	letter-spacing:-1px;
}

.layerCalendar table tbody td button.holiday {
	font-weight:bold;
	color:#ff191b;
	letter-spacing:-1px;
}

.layerCalendar table tbody td button.today {
	font-weight:bold;
	color:#333;
	letter-spacing:-1px;
}

.btn_month {
	position:absolute;
	top:0;
	width:270px;
	padding:17px 0 0 0;
}

.pre_month {
	float:left;
	margin:0 0 0 -1px;
	width:15px;
	height:15px;
	overflow:hidden;
	border:none;
	background:url('../images/buttonPaginate.gif') no-repeat left top;
}

.next_month {
	float:right;
	margin:0 -1px 0 0;
	width:15px;
	height:15px;
	overflow:hidden;
	border:none;
	background:url('../images/buttonPaginate.gif') no-repeat right top;
}

/* 담당자선택 */
.incharge_layer {
	display:none;
	position:absolute;
	top:91px;
	left:131px;
	z-index:20;
	background:#fff;
	border-bottom: 1px solid #CCCCCC;
}

.incharge_layer_wrap {
	border: 1px solid #666666;
	*width: 300px;
}

.incharge_layer_wrap ul {
	display: inline-block;
	width: 300px;
	_width: 278px;
	float: left;
	list-style: none;
	line-height:150%;
	padding:7px 11px 7px 11px;
	_padding:10px 11px 10px 11px;
	vertical-align: top;
	white-space: nowrap;
}

.incharge_layer_wrap ul li {
	float: left;
	display: inline;
	width: 140px;
	_width: 130px;
	color: #4d4d4d;
}

.incharge_layer_wrap .btn-link span strong {
	color: #4d4d4d;
}

.incharge_layer_wrap p input {
	_margin:0 0 6px 0;
}

.incharge_layer_wrap p label {
	color:#4d4d4d;
	_position:relative;
	_top:-3px;
}

.incharge_layer_wrap div.incharge_bottom_box {
	display: block;
	clear:both;
	width:100%;
	text-align:right;
	border-top: 1px solid #E5E5E5;
	background: #FAFAFA;
	padding: 0px;
	_padding: 0px;
}

.incharge_layer_wrap p.incharge_btns {
	display: block;
	clear:both;
	width: auto;
	padding: 5px 11px;
	_padding: 8px 11px;
}



/* 다운로드 */
.download_layer {
	display:none;
	width:350px;
	background:url('../images/bg_download_layer.gif') no-repeat left top;
	z-index:20;
	position:absolute;
}

.download_layer div {
	position:relative;
	background:url('../images/bg_download_layer.gif') no-repeat left bottom;
}

.generic-dialog {
	position:absolute;
	width: auto;
	background-color:#ffffff;
	background-color:#ffffff !important;
	border:2px solid #676767;
	padding:0;
	margin:0;
}

.generic-dialog ul {
	list-style-type:none;
}
.generic-dialog ul li {
	display:inline-block;
}

.generic-dialog h3 {
	background-color:#fafafa;
	border-bottom:1px solid #ebebeb;
	line-height:250%;
	margin-bottom:15px;
	padding:0 15px 0 15px;
	font-size:12px;
	letter-spacing:-2px;
	white-space:nowrap;
}
.generic-dialog div p {
	padding:0px 15px 10px 15px;
}
.generic-dialog div p.btns{
	padding:5px 15px 10px 15px;
	text-align:center;
}

.download_layer h3 {
	width:328px;
	height:30px;
	padding:13px 0 0 11px;
	_width:334px;
	_padding:13px 0 0 6px;
	color:#4d4d4d;
	letter-spacing:-1px;
	font-size:12px;
	text-align:left;
}

.download_layer ul {
	padding:0 0 0 22px;
	_padding:0;
}

*+html .download_layer ul {
	padding:0;
}

.download_layer ul li {
	position:relative;
	width:296px;
	height:23px;
	font-weight:bold;
	color:#4d4d4d;
	letter-spacing:-1px;
	font-weight:bold;
	text-align:left;
}

.download_list ul li,
.download_layer ul li {
	background:url('../images/bu_dot_gray02.jpg') no-repeat left 6px;
	padding:0 0 0 8px;
}

.download_layer ul li.all_down {
	color:#235a88;
}

.download_layer ul li span{
	font-family:verdana;
	font-size:10px;
	color:#999;
	font-weight:normal;
	letter-spacing:0;
}

.download_layer ul li a {
	position:absolute;
	top:-4px;
	right:-1px;
}

.download_layer div .layer_close {
	position:absolute;
	top:12px;
	right:12px;
	width:14px;
	height:13px;
	border:none;
	background:url('../images/btn_close.gif') no-repeat left top;
}

.layer_open {
	display:block;
}

/* dialog window to delete a comment */
#delcmtdiv.generic-dialog {
	width: auto;
	background-color: #ffffff;
	text-align: center;
}

