---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";




// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;



// test
@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
@charset "utf-8";
@import "style.css";
@import "layer.css";

/* default ---------------------------------------------------------------*/
html, body {
	width:100%;
	height:100%;
	font-family:Dotum;
	font-size:12px;
	color:#747474;
	word-break: break-all; /* for IE or any Web Browser supports CSS 3 */
	/* word-wrap: break-word; /* for Firefox 3.5 or under */
}

html, body, form,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,pre,input,blockquote,th,td, thead, tbody, legend, label, select, option, button, fieldset, select, textarea, iframe{
	margin:0;
	padding:0;
}

img{
	vertical-align:top;
}

button{
	cursor:pointer;
}

fieldset,img{
	border:0 none;
	margin:0;
	padding:0;
}

input,select, button{
	vertical-align:middle;
}

a {
	color:#4d4d4d;
	text-decoration:none;
}
 
a:hover {
	color:#4d4d4d;
	text-decoration: underline;
}

table {
	border-collapse:collapse;
}

textarea[disabled="1"] {
	background-color: #c0c0c0;
}

/* layout ---------------------------------------------------------------*/
#wrap {
	width:980px;
	margin:0 auto;
}

#header {
	width:980px;
	height:89px;
}

#header h1 {
	width:966px;
	height:36px;
	*height: 23px;
	padding:0 0 0 14px;
}

#header h1 img.logo{
	margin:3px 7px 0 0;
}


#main_wrap {
	position:relative;
}


#content_wrap {
	position:relative;
}

#content_project {
	float:left;
	position:relative;
	margin:9px 0 0 0;
	width:980px;
	background:url('../images/bg_content_project.jpg') repeat-y left top;
}

*:first-child+html #content_project {
	padding-bottom:20px;
}
 /* */

#content_project_sub {
	overflow:hidden;
	margin-top:0;
	min-height:400px;
	height:100%;
}


/* common ---------------------------------------------------------------*/
.haze {
	position:absolute;
	visibility:hidden;
	font-size:0;
	height:0;
	width:0;
}

/* header ---------------------------------------------------------------*/
#top_navi {
	background-image: url('../images/project_menu_bg.png') no-repeat left top;
	width:980px;
	height:38px;
	position:absolute;
	margin:0;
	overflow:hidden;
	clear: both;
}

#top_navi ul li a {
	float:  left;
	background: url('../images/project_menu_bg.png') no-repeat -3px top;
	display: block;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	padding-left: 28px;
	padding-right: 28px;
}

#top_navi ul li a.selected {
	background-position:-100px -38px;
}

#top_navi ul li a:hover,
#top_navi ul li a:hover.selected {
	background-position:-100px -76px;
}

#top_navi a {
	display: block;
	height: 28px;
	font-size: 14px;
	padding-top: 11px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	padding-left: 28px;
	padding-right: 28px;

	_height: 27px;
	_padding-top: 12px;
}

#top_navi ul {
	list-style:none;
	float:left;
	padding:0;
}

#top_navi ul li{
	float:left;
}

#top_navi p {
	float:left;
	_width:105px;
	padding:7px 0 0 0;
}

#top_navi .search_sphere {
	padding:8px 2px 0 0;
}

#top_navi .search_sphere select {
	width:102px;
	padding:2px;
	font-size:12px;
	font-family:dotum;
	letter-spacing:-1px;
	color:#30363c !important;
}

*html #top_navi .search_sphere select,
*+html #top_navi .search_sphere select {
	height:19px;
}

#top_navi .search_sphere input#search_word {
	width:146px;
	height:16px;
	padding:0 0 0 2px;
	margin:0 0 0 -1px;
	font-size:12px;
	font-weight:bold;
	color:#373737;
}

#top_navi span.search_button {
	background: url('../images/search_btn.png') no-repeat left top;
	padding-left:3px;
	height: 21px;
	display:inline-block;
	vertical-align:middle;
}

#top_navi span.search_button input {
	background: url('../images/search_btn.png') no-repeat right top;
	color:white;
	border: 0;
	height: 21px;
	font-size:12px;
	font-weight:bold;
	padding-left:6px;
	padding-right:8px;
	display:inline-block;
	vertical-align:middle;
	_padding:3px 3px 0px 2px;
	_height: 22px;
}

/* hover navi imgs */
#top_navi ul li.navi_openapi a:hover,
#top_navi ul li.navi_opensource a:hover,
#top_navi ul li.navi_project a:hover,
#top_navi ul li.navi_home a:hover {
	background: url('../images/project_menu_bg.png') no-repeat -100px -76px;
}

#top_navi ul li.navi_openapi a:hover.selected,
#top_navi ul li.navi_opensource a:hover.selected,
#top_navi ul li.navi_project a:hover.selected,
#top_navi ul li.navi_home a:hover.selected {
	background-position: -100px -76px;
}

#top_navi ul li.navi_home a { background-position: left top; }
#top_navi ul li.navi_home a:hover { background-position: left -76px; }
#top_navi ul li.navi_home a.selected { background-position: left -38px; }
#top_navi ul li.navi_home a:hover.selected { background-position: left -76px; }

#top_search p {
	display:inline-block;
}

#top_search form {
	float:right;
	display:inline-block;
}

#top_search {
	float:right;
	display:inline-block;
	white-space:nowrap;
	margin-right:6px;
/*
	_float:normal;
	_width:438px;
	_position:absolute;
	_right:0px;
*/
}

/* footer ---------------------------------------------------------------*/

#footer {clear:both; margin:0; padding:10px 0 30px 0; border-top:1px solid #dedede; text-align:right;}
#footer * {margin:0; padding:0; color:#333; list-style:none; font-size:12px; font-style:normal; font-family:"돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif; line-height:normal;}
#footer a {text-decoration:none; color:#444;}
#footer a:visited {text-decoration:none; color:#666;}
#footer a:hover {text-decoration:underline;}
#footer ul {margin:0 0 10px 0;}
#footer ul li {display:inline; padding:0 5px 0 7px; font-size:12px; white-space:nowrap; background: transparent url("../images/bu_bar.gif") no-repeat scroll left 50%}
#footer ul li a:hover,
#footer ul li a:hover strong {color:#438a01;}
#footer ul li.first {background:none; padding:0 3px 0 0;}
#footer .info {margin:0 0 11px 0; color:#7e7e7e; font-size:11px; line-height:15px;}
#footer .info2 {margin:-3px 0 13px 0; font-size:11px; line-height:18px;}
#footer .info2 span {display:inline-block; margin-left:2px; padding-left:7px; font-size:11px;}
#footer address {font:9px/14px Verdana;}
#footer address img {vertical-align:middle;}
#footer address a {font:bold 9px Tahoma; color:#444;}
#footer address a:hover {color:#009bc8;}
#footer address span {padding-left:2px; font:9px/14px Verdana;}
#footer address em {padding-left:6px; font:9px verdana;}
#footer address .logo {display:inline-block;}

/* Contents ---------------------------------------------------------------*/
.point_con_area {
	width:980px;
	height:263px;
}

.main_con_area {
	clear:both;
	width:980px;
	border-top:3px solid #636363;
}

.developer_new {
	float:left;
	width:707px;
	padding:17px 18px 0 15px;
}

.developer_etc {
	float:left;
	width:240px;
	_margin:0 -3px 0 0;
}


.title_style01 {
	height:25px;
	padding:0 0 0 22px;
	background:url('../images/icon_01.jpg') no-repeat left top;
}

.title_style02 {
	height:18px;
	padding:17px 0 0 5px;
	font-size:14px;
	letter-spacing:-1px;
}

.title_style02 a {
	color:#484848;
}

.title_style02 .reply_times {
	position:relative;
	top:-1px;
	left:4px;
	font-family:Verdana;
	font-size:12px;
	font-weight:normal;
	letter-spacing:-1px;
	color:#fa6f46;
}

.title_style03 {
	height:27px;
	padding:27px 0 0 21px;
	background:url('../images/bg_bar03.jpg') no-repeat 9px 27px;
	*background:url('../images/bg_bar03.jpg') no-repeat 9px 26px;
	font-size:14px;
	letter-spacing:-2px;
	color:#555555;
}

#content h3.search-result,
h3.search-result,
.title_style04 {
	height:29px;
	line-height:14px;
	padding:5px 0 0 24px;
	letter-spacing:-1px;
	background:url('../images/bu_green.jpg') no-repeat 5px 7px;
	_background-position: 5px 6px;
	font-size:12px;
	color:#494848;
}

.title_style04, x:-moz-any-link, x:default {
	height:30px;
}

*:first-child+html .title_style04 {
	height:28px;
}

.title_style04 span {
	color:#000;
}

h3.search-result span strong,
.title_style04 span strong{
	font-size:17px;
	position:relative;
	top:1px;
	letter-spacing:-1px;
	padding-right:3px;
}

.title_style06,
.title_style05 {
	height:26px;
	padding:29px 0 0 12px;
	_padding:28px 0 0 12px;
	margin:0 0 0 0;
	font-size:16px;
	color:#000;
	border-bottom:2px solid #636363;
}

.title_style05, x:-moz-any-link, x:default {
	height:27px;
	padding:28px 0 0 12px;
}

*:first-child+html  .title_style05 {
	height:26px;
	padding:29px 0 0 12px;
}

.title_style06 a,
.title_style05 a {
	color:black;
}

.title_style06, x:-moz-any-link, x:default {
	height:27px;
	padding:28px 0 0 32px;
}

*:first-child+html  .title_style06 {
	height:26px;
	padding:29px 0 0 32px;
}

.developer_new_list01 {
	width:706px;
	margin:0 0 0 1px;
}

.developer_new_list01 li {
	position:relative;
	width:692px;
	height:21px;
	padding:11px 0 0 14px;
	background:url('../images/bu_dot_gray.jpg') no-repeat 4px 14px;
	border-bottom:1px solid #f1f1f1;
}

.developer_new_list01 li a {
	color:#666;
}

.developer_new_list01 li.last {
	border:none;
	border-bottom:1px solid #e5e5e5;
}

.developer_new_list01 li .reply_times {
	position:relative;
	top:-1px;
	left:4px;
	font-family:Verdana;
	font-size:10px;
	letter-spacing:-1px;
	color:#fa6f46;
}

.write_info {
	position:absolute;
	right:20px;
	top:10px;
	background:url('../images/bg_bar01.jpg') no-repeat right 1px;
}

.write_info a {
	font-weight:bold;
	color:#6f6e6e;
}

.write_info span {
	font-family:Tahoma;
	font-size:11px;
	font-weight:normal;
	color:#a8a8a8;
	margin:0 0 0 23px;
}

.developer_new_list02 {
	width:706px;
	padding:0 0 0 1px;
}

.developer_new_list02 div {
	width:706px;
	border-bottom:1px solid #f1f1f1;
	padding:0 0 12px 0;
}

.developer_new_list02 div.last {
	border:none;
}

.developer_new_list02 div p {
	padding:0 0 0 6px;
	line-height:20px;
	letter-spacing:-1px;
}

.developer_new_list02 div p a {
	color:#666;
}


.write_info02 {
	height:29px;
	line-height:11px;
	letter-spacing:0;
}

.developer_new_list02 div p.write_info02 a {
	color:#a8a8a8;
	font-family:Tahoma;
	font-size:11px;
	letter-spacing:0;
}

.write_info02 span {
	color:#a8a8a8;
	padding:0 0 0 16px;
	font-family:Tahoma;
	font-size:11px;
	background:url('../images/bg_bar02.jpg') no-repeat 8px 4px;
	letter-spacing:0;
}

.login_sphere {
	margin:0 0 5px 0;
}

.board_sphere {
	position:relative;
	width:238px;
	height:215px;
	margin:0 0 5px 0;
	border:1px solid #d6dee0;
}

.btn_community {
	width:120px;
	height:30px;
	border:none;
	background:url('../images/tab_community_on.jpg') no-repeat left top;
}

.btn_network {
	width:118px;
	height:30px;
	border:none;
	background:url('../images/tab_network_off.jpg') no-repeat left top;
}


#tab_community {
	position:absolute;
	top:44px;
}

#tab_network {
	position:absolute;
	top:44px;
}


.recently_list li {
	line-height:23px;
	padding:0 0 0 23px;
	color:#666;
	background:url('../images/bu_dot_gray02.jpg') no-repeat 13px 9px;
}

.recently_list li a {
	color:#666;
	letter-spacing:-1px;
}


.developer_video {
	position:relative;
	width:238px;
	height:295px;
	margin:0 0 5px 0;
	border:1px solid #d6dee0;
}

.developer_video h2 {
	height:23px;
	padding:11px 0 0 16px;
	border-bottom:1px solid #d6dee0;
	font-size:0;
}

.developer_video .btn_more {
	position:absolute;
	top:13px;
	right:16px;
	text-align:right;
}

.developer_video .btn_more a {
	padding:0 0 0 7px;
	font-size:11px;
	letter-spacing:-1px;
	color:#7c7c7c;
	background:url('../images/bu_arrow_green.jpg') no-repeat left 3px;
}

.developer_video  ul {
	padding:15px 0 0 15px;
}

.developer_video  ul li {
	float:left;
	width:210px;
	_margin:0 0 -16px 0;
	height:20px;
	_height:21px;
}

*:first-child+html .developer_video  ul li  {
	margin:0 0 -16px 0;
	height:21px;
}

.developer_video  ul li img{
	vertical-align:middle;
}

.developer_video  ul li a {
	color:#535353;
	margin:0 0 0 8px;
}

.developer_video  ul li.high_rank {
	position:relative;
	width:64px;
	height:97px;
	_height:98px;
	padding:0 7px 0 1px;
	line-height:13px;
}

.developer_video  ul li.high_rank, x:-moz-any-link, x:default {
	height:95px;
}
 /* FireFox 3 */
*:first-child+html  .developer_video  ul li.high_rank {
	height:98px;
}

.developer_video  ul li.high_rank a {
	font-size:11px;
	letter-spacing:-1px;
	margin:0;
}

.developer_video  ul li.high_rank span{
	position:absolute;
	top:38px;
}

.developer_video  ul li.high_rank img {
	vertical-align:top;
	margin:0 0 9px 0;
}


.category_view {
	position:relative;
	width:979px;
	height:255px;
	padding:0 0 0 1px;
	font-size:11px;
	background:url('../images/bg_category.jpg') no-repeat left top;
}

.btn_project_regi {
	position:relative;
	height:31px;
	margin:-30px 0 0 0;
	text-align:right;
}

.category_view h3 {
	height:20px;
	padding:11px 0 0 0;
	font-size:11px;
	font-weight:normal;
	text-align:center;
	color:#edeef0;
	background:url('../images/bg_category_bar01.jpg') no-repeat right top;
}

.category_view div {
	float:left;
}

.category_view ul {
	float:left;
	height:190px;
	padding:8px 0 0 0;
	margin:0 0 0 -1px;
	border-left:1px solid #f0f0f0;
	border-right:1px solid #f0f0f0;
}

.category_view ul li {
	list-style:none;
	height:18px;
	padding:8px 0 0 0;
	letter-spacing:-1px;
}

.category_view ul li a{
	color:#505050;
}

.category_view ul li.selected {
	position:relative;
	margin:0 -1px 0 -1px;
	height:28px;
	padding:0;
	background:url('../images/bg_select_category_right.jpg') no-repeat right top;
}

.category_view ul li.selected a {
	display:block;
	height:20px;
	font-weight:bold;
	color:#245a86;
	padding:8px 1px 0 11px;
	background:url('../images/bg_select_category_left.jpg') no-repeat left top;
}


.category_view .item01 h3 {
	width:137px;
}

.category_view .item01 ul {
	border-left:none;
}

.category_view .item01 ul li{
	width:126px;
	padding:8px 0 0 11px;
}

.category_view .item01 ul li.selected {
	width:138px;
	margin:0 -1px 0 0;
	padding:0;
}


.category_view .item02 h3 {
	width:93px;
}

.category_view .item02 ul li{
	width:81px;
	padding:8px 0 0 11px;
}

.category_view .item02 ul li.selected {
	width:94px;
	margin:0 -1px 0 -1px;
	padding:0;
}


.category_view .item03 h3 {
	width:142px;
}

.category_view .item03 ul li{
	width:130px;
	padding:8px 0 0 11px;
}

.category_view .item03 ul li.selected {
	width:143px;
	margin:0 -1px 0 -1px;
	padding:0;
}


.category_view .item04 h3 {
	width:278px;
}

.category_view .item04 ul li{
	width:127px;
	padding:8px 0 0 11px;
}

.category_view .item04 ul li.selected {
	width:140px;
	margin:0 -1px 0 -1px;
	padding:0;
}


.category_view .item05 h3 {
	width:120px;
}

.category_view .item05 ul li{
	width:108px;
	padding:8px 0 0 11px;
}

.category_view .item05 ul li.selected {
	width:121px;
	margin:0 -1px 0 -1px;
	padding:0;
}


.category_view .item06 h3 {
	width:207px;
	background:none;
}

.category_view .item06 ul li{
	width:92px;
	padding:8px 0 0 11px;
}

.category_view .item06 ul li.selected {
	width:105px;
	margin:0 -1px 0 -1px;
	padding:0;
}

.category_view .item06 ul.last {
	border-right:none;
}

.category_view .item06 ul.last li{
	width:93px;
	padding:8px 0 0 11px;
}

.category_view .item06 ul.last li.selected {
	width:106px;
	margin:0 -1px 0 -1px;
	padding:0;
}


.category_view_list {
	position:relative;
	width:980px;
}

.list_style_select {
	position: absolute;
	top: 1px;
	_top: 0;
	right: 9px;
	background: url('../images/bg_bar11.gif') no-repeat 63px 2px;
	_background: url('../images/bg_bar11.gif') no-repeat 63px 3px;
}

.list_style_select,x:-moz-any-link,x:default {
	top: 0px;
	background: url('../images/bg_bar11.gif') no-repeat 64px 3px;
}

*+html .list_style_select {
	background: url('../images/bg_bar11.gif') no-repeat 63px 3px;
}

.list_by_basic {
	display:inline-block;
	vertical-align:middle;
	height: 18px;
	padding: 2px 3px 0 15px;
	_padding: 3px 0 0 15px;
	margin: 0 6px 0 0;
	_margin: 0 10px 0 0;
	font-size: 11px;
	font-family: doutm, 돋움;
	color: #333;
	text-align: left;
	border: none;
	background: url('../images/bu_list.gif') no-repeat left 1px;
	letter-spacing: -1px;
	cursor:pointer;
}
.list_by_basic span {
	display:inline-block;
	background:none;
	padding:0;
}

* :first-child+html .list_by_basic {
	position: relative;
	top: 2px;
	left: 0;
	width: 61px;
	padding: 0 0 0 15px;
	margin: 0 10px 0 0;
	background: url('../images/bu_list.gif') no-repeat left top;
}

.list_by_basic_inactive {
	width: 61px;
	height: 18px;
	padding: 2px 0 0 15px;
	_padding: 3px 0 0 15px;
	margin: 0 6px 0 0;
	_margin: 0 10px 0 0;
	font-size: 11px;
	font-family: doutm, 돋움;
	color: #858585;
	text-align: left;
	border: none;
	background: url('../images/bu_list_inactive.gif') no-repeat left 1px;
	letter-spacing: -1px;
}

* :first-child+html .list_by_basic_inactive {
	position: relative;
	top: 2px;
	left: 0;
	width: 61px;
	padding: 0 0 0 15px;
	margin: 0 10px 0 0;
	background: url('../images/bu_list_inactive.gif') no-repeat left top;
}

.list_by_title {
	display:inline-block;
	vertical-align:middle;
	height: 18px;
	font-size: 11px;
	padding: 2px 3px 0 15px;
	_padding: 3px 0 0 15px;
	margin: 0 3px 0 0;
	_margin: 0 5px 0 0;
	font-family: doutm, 돋움;
	color: #333;
	text-align: left;
	border: none;
	background: url('../images/bu_list02.gif') no-repeat left 1px;
	letter-spacing: -1px;
	cursor:pointer;
}

.list_by_title span {
	display:inline-block;
	padding:0;
	background:none;
}

* :first-child+html .list_by_title {
	position: relative;
	top: 2px;
	left: 0;
	width: 61px;
	padding: 0 0 0 15px;
	background: url('../images/bu_list02.gif') no-repeat left top;
}

.list_by_title_inactive {
	height: 18px;
	font-size: 11px;
	padding: 2px 0 0 15px;
	_padding: 3px 0 0 15px;
	margin: 0 3px 0 0;
	_margin: 0 5px 0 0;
	font-family: doutm, 돋움;
	color: #858585;
	text-align: left;
	border: none;
	background: url('../images/bu_list02_inactive.gif') no-repeat left 1px;
	letter-spacing: -1px;
}

* :first-child+html .list_by_title_inactive {
	position: relative;
	top: 2px;
	left: 0;
	width: 61px;
	padding: 0 0 0 15px;
	background: url('../images/bu_list02_inactive.gif') no-repeat left top;
}

.list_by_etc {
	position: relative;
	width: 90px;
	top:-1px;
	_height: 16px;
	border: 1px solid #c3c4be;
	font-size: 12px;
	font-family: doutm, 돋움;
	color: #333;
}

.list_by_etc,x:-moz-any-link,x:default {
	height: 18px;
}

* :first-child+html .list_by_etc {
	top: 0;
	height: 18px;
}

table.search-list,
.category_view_list table {
	width:100%;
	border-top:2px solid #898989;
	border-bottom:1px solid #ebebeb;
}

* html .category_view_list table.detail {
	width: 955px;
}

* + html .category_view_list table.detail {
	width: 955px;
}

table.search-list td {padding:7px 3px 6px; border-bottom:1px solid #ebebeb;}
table.search-list td a {color: #606060;}

table.search-list thead th,
.category_view_list table thead th {
	height:31px;
	background:url('../images/bg_list01.jpg') repeat-x left top;
	font-size:11px;
	color:#505050;
	font-weight:normal;
}

table.search-list thead th.left {
	padding-left: 24px;
	text-align: left;
}

table.search-list thead th, x:-moz-any-link, x:default {
	height:32px;
}
.category_view_list table thead th, x:-moz-any-link, x:default {
	height:32px;
}

table.search-list thead th.project,
.category_view_list table thead th.project {
	text-align:left;
	padding:0 0 0 24px;
}

table.category_view_list thead td,
.category_view_list table thead td {
	height:31px;
	background:url('../images/bg_list01.jpg') repeat-x left top;
}

table.category_view_list tbody td,
.category_view_list table tbody td {
	height:42px;
}

table.search-list tbody td, x:-moz-any-link, x:default {
	height:43px;
}

.category_view_list table  tbody td, x:-moz-any-link, x:default {
	height:43px;
}
 
*:first-child+html table.search-list tbody td {
	height:41px;
}

*:first-child+html .category_view_list table  tbody td {
	height:41px;
}

table.search-list tbody td.project,
.category_view_list table tbody td.project {
	width:455px;
	padding:0 0 0 24px;
}

table.search-list tbody td.project a,
.category_view_list table tbody td.project a {
	font-size:13px;
	color:#235985;
	font-weight:bold;
}

table.search-list tbody td.act_rank,
.category_view_list table tbody td.act_rank {
	width:110px;
	text-align:center;
	font-size:11px;
	font-family:Tahoma;
	font-weight:bold;
	color:#000;
	letter-spacing:0;
}

table.search-list tbody td.issue,
.category_view_list table tbody td.issue {
	width:134px;
	text-align:center;
	font-size:11px;
	font-family:Tahoma;
	color:#556d7b;
	letter-spacing:0;
}

.category_view_list table tbody td.mem {
	width:115px;
	text-align:center;
	font-size:11px;
	font-family:Tahoma;
	color:#666;
	letter-spacing:0;
}

.category_view_list table tbody td.start_date {
	width:118px;
	text-align:center;
	font-size:11px;
	font-family:Tahoma;
	color:#666;
	letter-spacing:0;
}

.category_view_list table tbody td.view {
	width:24px;
}

.category_view_list table tbody tr.open td {
	border:none;
}


.view-more {
	position:relative;
	left:-2px;
	width:20px;
	height:20px;
	border:none;
	background:url('../images/btn_view_more.jpg') no-repeat 2px 2px;
}

.open
.view-more {
	position:relative;
	left:-2px;
	width:20px;
	height:20px;
	border:none;
	background:url('../images/btn_view_close.jpg') no-repeat 2px 2px;
}


.project_more_info {
	position:relative;
	padding:0 10px;
	/* background:url('../images/bg_project_more_info.jpg') no-repeat left top; /* */
}


.project_more_info tr.open td {
	border-bottom:1px solid #ebebeb;
}

.project_more_info a {
	color:#235985;
}

.project_more_info table.detail {
	border:1px solid #ebebeb;
	margin-bottom:10px;
}

.project_more_info table.detail th {
	border-bottom:1px dotted #ebebeb;
	background-color: #fbfbfb;
	height:27px;
}

.project_more_info table.detail td {
	padding:0;
	padding-left:14px;
	line-height:160%;
}

.project_more_info {
	padding-top: 0px;
	text-align: center;
}

.project_more_info table {
	border:none;
}

.project_more_info table thead th {
	height:27px;
	font-size:11px;
	color:#7a7d7f;
	background:none;
}

.project_more_info table tbody td {
	font-size:11px;
	color:#8a8e91;
	text-align:center;
	border:none;
}

*:first-child+html .project_more_info table tbody td {
	height:27px;
	font-size:11px;
	color:#8a8e91;
	text-align:center;
	border:none;
}



.project_menu {
	float:left;
	width:136px;
	border-top:1px solid #e1e6e9;
}

.project_menu ul {
	list-style:none;
}

.project_menu ul li {
	width:134px;
	height:39px;
	margin:-1px 0 0 0;
	border:1px solid #e1e6e9;
	background:#fafafa;
}

.project_menu ul li.last {
	border-bottom:1px solid #dbe1e2;
}

.project_menu ul li a {
	display:block;
	height:25px;
	padding:14px 0 0 16px;
	font-weight:bold;
	color:#72777b;
	text-decoration:none;
	background:url('../images/bu_arrow_gray.jpg') no-repeat 109px 16px;
}

.project_menu ul li a, x:-moz-any-link, x:default {
	padding:13px 0 0 16px;
}

.project_menu ul li.on {
	position:relative;
	width:134px;
	height:39px;
	margin:-1px 0 -1px 0;
	border:1px solid #bcc0c3;
	background:#fafafa }

.project_menu ul li.on a {
	color:#505050;
	background:url('../images/bu_arrow_green02.jpg') no-repeat 109px 16px;
}


.project_con {
	float:left;
	width:587px;
	padding:0 11px;
	margin-bottom:21px;
	_padding-bottom:21px;
}

.project_con {
	min-height:400px;
	_height: expression( this.scrollHeight < 401 ? "400px" : "auto" );
}



#tab_main {
	list-style:none;
	width:586px;
	height:53px;
	overflow:hidden;
}

#tab_main li{
	float:left;
	_display:inline;
	margin-right:-1px;
	border:1px solid #e5e5e5;
	border-bottom:1px solid #a8a8a8;
	color:#333;
}

#tab_main li a{
	_float:left;
	display:block;
	height:19px;
	padding:8px 21px 0 21px;
	font-size:11px;
	color:#808080;
	text-decoration:none;
}

#tab_main li.last a {
	padding:8px 20px 0 20px;
}

#tab_main li a:hover{
	color:#4d4d4d;
}

#tab_main li.selected{
	position:relative;
	border:1px solid #a8a8a8;
	border-bottom:1px solid #fff;
	;
}

#tab_main li.selected a{
	color:#333;
	font-weight:bold;
	letter-spacing:-1px;
}

.go_mypage ul {
	list-style:none;
}

.go_mypage li {
	float:left;
	padding:0 0 0 12px;
	vertical-align: bottom;
}

.go_mypage a {
	font-size:11px;
	letter-spacing:-1px;
	color:#3d3d3d;
	height: 25px;
	display: table-cell;
	vertical-align: middle;
}

.go_mypage {
	background:url('../images/bu_arrow_dark_gray.jpg') no-repeat left 50%;
	*background-position: left 2px; 
	position:relative;
	float:right;
	top: -24px;
	*top: -3px;
	display:inline-block;
}

#project_content, #content {
	position:relative;
	border-right:1px solid #ebebeb;
	/*
	margin-bottom:-32767px;
	padding-bottom:32767px;
	*/

	min-height:600px;
	_height: expression( this.scrollHeight < 601 ? "600px" : "auto" );

	padding-top:9px;
	float:left;

	/* XXX */
	_float:none;
	_display:inline-block;

	/* important */
	overflow:hidden;
}

#content_wrap #content {
	padding:0;
}

#content {
	border-right:none;
	padding:0 15px 20px 15px;
	float:none;
}

/* ------- override for 2-column Fixed-Fluid layout */
#content_project_sub #project_content {
	position:relative;
	padding:0 0 0 12px;
	_padding:0 0 0 9px;
	border-right:none;
	width:820px;
}

#content_project_sub #content {
	padding:0;
	float:left;
}
/* -----// override for 2-column Fixed-Fluid layout */

#content_project_sub #project_content {
	padding-right:11px;
}

#project_content0 {
	min-height:400px;
	_height: expression( this.scrollHeight < 401 ? "400px" : "auto" );
}

#project_etc {
	/**
	 * Please don't touch me
	 * this is the equalheigt negative margin css hack
	 * Please see http://www.positioniseverything.net/articles/onetruelayout/equalheight
	 * it's container should have the 'overflow:hidden' property
	 */
	padding:0;
	margin-bottom:-32767px;
	padding-bottom:32767px;

	float:right;
	width:234px;
	_width:234px;

	display:inline-block;
	border-top:1px solid #ebebeb;
	border-left:1px solid #ebebeb;
	border-right:1px solid #ebebeb;

	_overflow:hidden;

	background-color:#fcfcfc;
}


.project_login_sphere {
	border-bottom:1px solid #ebebeb;
}


.project_link_btns {
	float:left;
	width:227px;
	padding:9px 0 21px 7px;
}

.project_link_btns a {
	float:left;
	_float:none;
	margin:0 0 6px 0;
}

.project_link_btns a.sec_btn {
	float:right;
	margin:0 7px 0 0;
}

.btn_project_download {
	width:162px;
	height:37px;
	margin-top:5px;
	padding:32px 0 0 58px;
	font-size:11px;
	line-height:16px;
	color:#7e7e7e;
	background:url('../images/btn_project_down.jpg') no-repeat left top;
	text-decoration:none;
}

.project_link_btns .btn_project_download {
	float:left;
}

.btn_project_download h3 {
	display:none;
}

.btn_project_download .t_version {
	display:block;
	color: #848484;
}

.btn_project_download .t_version span {
	display:block;
}

#downloading {float:left; width:100%;}
#downloading .message {
	background:#FAFAFA none repeat scroll 0 0;
	border:1px solid #d7d7d7;
	float:left;
	margin-left:20px;
}

#downloading .message div {
	border:1px solid #fff;
	padding:12px;
	width:552px;
	line-height:200%;
}

#download_wrap .comment .cmt_input,
#download_wrap .comment {
	padding:20px 0 20px 0;
	float:left;
	width:100%;
}

#download_wrap .comment .cmt_input th {
	display:none;
}

#download_wrap .comment .cmt_input td {
}

#download_wrap .comment .cmt_input textarea.input_txt {
	width:99.7%;
}

.comment .cmt_input td.btn p {
	float:right;
}
*html .comment .cmt_input td.btn p {
	position:absolute;
	right:0px;
	_top:5px;
}
*html .comment .cmt_input td.btn {
	position:relative;
	height:20px;
}

#project_etc h2 {
	width:219px;
	height:21px;
	margin:0 0 0 8px;
}


.project_news {
	clear:both;
	position:relative;
	width:222px;
	height:180px;
	padding:0 6px 0 5px;
	_margin-top:-3px;
}

.project_news h2 {
	background:url('../images/txt_project_news.jpg') no-repeat;
	width:66px;
}

.project_news h2 span {
	display:none;
}


p.project_news_item_more {
	display:none;
}

li.selected p.project_news_item_more a {
	background:none;
	font-weight:normal;
	color:#939393;
}

li.selected p.project_news_item_more {
	display:block;
	position:absolute;
	top:-28px;
	right:4px;
	_right:13px;
	padding:0 5px 0 0;
	_padding:0 4px 0 0;
	background:url('../images/bu_arrow_gray02.jpg') no-repeat right 10px;
	text-align:right;
}

.project_news_item_more, x:-moz-any-link, x:default {
	top:0px;
	background:url('../images/bu_arrow_gray02.jpg') no-repeat right 10px;
}

*+html .project_news_item_more  {
	padding:0 4px 0 0;
	background:url('../images/bu_arrow_gray02.jpg') no-repeat right 10px;
}

.project_news_item_more a {
	color:#939393;
	font-size:11px;
	letter-spacing:-1px;
	font-family:Dotum,sans-serif;
}


.tab-small {
	height:24px;
	height: 160px;
	padding:0 0px 0 6px;
	position: relative;
	margin-bottom:21px;
	border-bottom:1px solid #f3f3f3;	
}

.tab-small {
	list-style:none;
	font-family: Dotum, sans-serif;
	color:#535353;
	font-size:11px;
}

.tab-small li {
	float:left;
	width:72px;
	height:23px;
	margin:0 0px 0 0;
	left:2px;
	margin-left:-1px;
	background:url('../images/tab_small.png') no-repeat left top;
	border-bottom:1px solid #c2c2c2;
}

.tab-small li a {
	background:url('../images/tab_small.png') no-repeat right top;
	margin-left:1px;
	outline:none;
}

.tab-small li a {
	display:block;
	height:16px;
	padding:7px 0 0 0;
	color:#2f2f2f;
	font-size:11px;
	text-align:center;
	margin-left:1px;
}

.tab-small li.selected {
	background:url('../images/tab_small.png') no-repeat left -24px;
	left:1px;
	margin-right:1px;
	margin-left:-1px;
	border-bottom:none;
}

.tab-small li.selected a {
	font-weight:bold;
	border-bottom:none;
	background:url('../images/tab_small.png') no-repeat right -24px;
	margin-right:0px;
	height:17px;
	margin-left:2px;
}


.tab-small li li {
	display:block;
	width:100%;
	height:100%;
	background:none;
}

.tab-small li ul li {
	display:inline-block;
	width:100%;
	background:none;
	border-bottom:none;
}

.tab-small li ul a {
	display:inline;
	height:100%;
	padding:0;
	background:normal;
	font-weight:normal;
	border:none;
}

.tab-small li.selected li a {
	display:inline;
	height:100%;
	padding:0;
	background:none;
	font-weight:normal;
}


/* css only auto select */
.tab-small li ul {
	display:none;
	position: absolute;
	left: 0;
	top: 24px;
	padding-top:5px;
	background:none;
}

.tab-small li.selected ul {
	display:block;
}

/*
.tab-small li:hover ul, .tab-small li ul:hover {
	display:block;
	background:#fdfdfd;
}
*/


.tab-small ul.project_news_item {
	clear:both;
	margin:0;
	width:212px;
	padding:10px 0 10px 0;
}

.tab-small ul.project_news_item li {
	line-height:160%;
	padding:0 0 0 15px;
	background:url('../images/bu_dot_gray02.jpg') no-repeat 6px 5px;
	letter-spacing:-1px;
}

.tab-small ul.project_news_item li a {
	font-size:12px;
	color:#666;
	letter-spacing:0px;
}


.project_info {
	margin:21px 5px 21px 5px;
	padding-bottom:16px;
	width:222px;
	border-bottom:1px solid #f3f3f3;
	_margin:-3px 5px 21px 5px;
}

.project_info h2 {
	background:url('../images/txt_project_info.jpg') no-repeat;
	width:67px;
}

.project_info h2 span {
	display:none;
}

.project_info div{
	width:210px;
	padding:16px 6px 10px 5px;
	border:1px solid #ececec;
	background:#fefefe;
}

.project_info div ul {
	width:208px;
	border-bottom:1px solid #f4f4f4;
}

.project_info div ul li {
	display:inline-block;
	height:26px;
	width:205px;
	letter-spacing:-1px;
	padding:0 0 0 3px;
	color:#848484;
}

.project_info div ul li.space {
	float:left;
	padding:11px 0 0 3px;
	width:90px;
}

.project_info div ul li.space02 {
	float:left;
	padding:11px 0 0 3px;
	width:110px;
}

.project_info div ul li span {
	color:#7c7c7c;
	font-weight:bold;
}

.project_info div p {
	padding:11px 0 0 0;
}

.project_info div p a.act_view {
	margin:0 1px 0 0;
}

.project_info a {
	color:#848484;
}


.developer_info_list {
	margin-left:5px;
	margin-right:5px;
}

.developer_info_list ul {
	margin:0 5px 5px 0;
	_margin:-3px 5px 17px 0;
	width:215px;
	padding:8px 0 8px 6px;
	border:1px solid #ececec;
	background:#fefefe ;
}

.developer_info_list h2 {
	background:url('../images/txt_developer_info.jpg') no-repeat;
	width:57px;
}

.developer_info_list h2 span {
	display:none;
}

.developer_info_list li {
	display:inline-block;
	*float:left;
	line-height:160%;
	width:90px;
	padding:4px 0 4px 14px;
	background:url('../images/bu_dot_gray02.jpg') no-repeat 4px 45%;
}

.developer_info_list li.high {
	background:url('../images/bu_dot_red.jpg') no-repeat 4px 45%;
}

.developer_info_list li, .developer_info_list li.high {
	*background-position: 4px 50%;
}

.developer_info_list li a {
	color:#535353;
}

.developer_info_list li.last {
	border:none;
}


.best_of_best {
	position:relative;
	float:left;
	width:740px;
	height:244px;
	padding:19px 0 0 0;
	background:url('../images/bg_best_of_best.gif') no-repeat left 19px;
}

*+html .best_of_best  {
	padding:20px 0 0 0;
	background:url('../images/bg_best_of_best.gif') no-repeat left 20px;
}

.best_of_best p.tab {
	padding:6px 0 0 6px;
}

.best_of_best p.tab a {
	float:left;
}
 
.best_of_best ul.best_list {
	position:absolute;
	top:60px;
	left:5px;
	clear:both;
}

.best_of_best ul.best_list li {
	width:253px;
	_height:23px;
	line-height:34px;
	_line-height:1;
	padding:0 0 0 21px;
	_padding:11px 0 0 21px;
}

.best_of_best ul.best_list li img {
	vertical-align:middle;
	margin:0 19px 0 0;
}

.best_of_best ul.best_list li a {
	color:#949bac;
	font-size:13px;
	font-family:dotum, 돋움;
	letter-spacing:-1px;
}

.best_of_best ul.best_list li.selected {
	position:relative;
	height:35px;
	_height:23px;
	_padding:11px 0 0 21px;
	background:url('../images/bg_tab_selected.gif') no-repeat left top;
	margin:0 0 -1px 0;
}

.best_of_best ul.best_list li.selected a {
	color:#fff;
	font-size:13px;
	font-family:dotum, 돋움;
	font-weight:bold;
	letter-spacing:-1px;
}


.best_detail_sphere {
	position:absolute;
	top:39px;
	left:307px;
	width:415px;
}

.best_detail_sphere  h3 {
	height:44px;
	padding:0 0 0 21px;
	font-size:16px;
	font-family:dotum, 돋움;
	color:#000;
	letter-spacing:-1px;
}

*+html .best_detail_sphere  h3 {
	height:45px;
}

.best_detail_sphere  p {
	position:absolute;
	top:3px;
	right:8px;
}

*+html .best_detail_sphere  p {
	position:absolute;
	top:4px;
	right:8px;
}

.best_detail_sphere  p a {
	color:#777777;
	font-size:12px;
	font-family:dotum, 돋움;
	letter-spacing:-1px;
	margin:0 9px 0 8px;
	cursor:pointer;
}


.best_detail_sphere ul li{
	position:relative;
	height:25px;
	width:383px;
	padding:0 0 0 12px;
}

.best_detail_sphere ul li a {
	color:#716f6f;
	font-size:12px;
	font-family:dotum, 돋움;
	font-weight:bold;
	letter-spacing:-1px;
}

.best_detail_sphere ul li span {
	position:absolute;
	right:0;
	color:#7987b0;
	font-size:11px;
	font-family:dotum, 돋움;
	letter-spacing:-1px;
}


/* buttonized using background imgs temporary XXX */
#project_add_issue, #project_add_article {
	font-family: Gulim, sans-serif;
	height:24px;
	margin: 0 2px 0 0;
	padding-left:2px;
	background:url('../images/btn_post.png') no-repeat left top;
	text-decoration:none;
	display:inline;
}

#project_add_article {
	margin-right:7px;
	_margin-right:4px;
} /* */

#project_add_issue span, #project_add_article span {
	margin-left:0px;
	margin-right:-2px;
	/* padding:5px 28px 5px 25px;
	_padding:6px 26px 5px 25px;
	*/
	padding-top:5px;
	height:18px;
	width:105px;
	_padding-top:6px;
	_width:103px;
	text-align:center;
	display:inline-block;
	background:url('../images/btn_post.png') no-repeat right top;
	color:#4d4d4d;
	font-weight:bold;
	letter-spacing:-1px;
	cursor:pointer;
}

ul.tab-small p.project_news_item_add {
	float:right;
	margin-right:6px;
}

ul.tab-small p.project_news_item_add a {
	font-weight:normal;
	text-decoration:none;
	display:inline-block;
	height:24px;
	background:url('../images/btn_add_news.png') no-repeat left top;
	margin: 0;
}

ul.tab-small p.project_news_item_add a span {
	display:inline-block;
	background:url('../images/btn_add_news.png') no-repeat right top;
	height:12px;
	padding:5px 10px 5px 6px;
	margin-left:16px;
	color:#4d4d4d;
	letter-spacing:-1px;
	font-size:11px;
	cursor:pointer;
}

/* Paginate ---------------------------------------------------------------*/

div.paginate {
	width:100%;
	height:61px;
	padding:15px 0 0 0;
	_height:55px;
	text-align:center;
	border:none;
}

div.paginate, x:-moz-any-link, x:default {
	height:55px;
}

*:first-child+html div.paginate {
	height:55px;
}

div.paginate02 strong,
div.paginate strong {
	display:inline-block;
	min-width:28px;
	height:21px;
	text-align:center;
	padding:3px 0 0 0;
	margin:0 0 0 3px;
	font-size:14px;
	font-family:Tahoma;
	color:#fa6f46;
	border:1px solid #e9e9e9;
}

div.paginate02 a,
div.paginate a {
	display:inline-block;
	width:24px;
	height:21px;
	text-align:center;
	margin:0 1px 0 0;
	padding:3px 0 0 0;
	font-size:14px;
	font-family:Tahoma;
	color:#000 !important;
	border:1px solid #fff;
}

div.paginate02 a.start,
div.paginate a.start,
div.paginate02 a.pre,
div.paginate a.pre {
	width:24px;
	height:7px;
	_height:11px;
	padding:2px 0 0 2px;
	margin:-2px 0 0 0;
	border:none;
}

div.paginate02 a.pre,
div.paginate a.pre {
	background:url('../images/btn_prev.jpg') no-repeat;
}

div.paginate02 a.start ,
div.paginate a.start {
	background:url('../images/btn_pre_prev.jpg') no-repeat;
}

div.paginate a.pre, x:-moz-any-link, x:default {
	position:relative;
}

*:first-child+html div.paginate02 a.start,
*:first-child+html div.paginate a.start,
*:first-child+html div.paginate02 a.pre,
*:first-child+html div.paginate a.pre {
	position:relative;
	top:-5px;
}

div.paginate02 a.end,
div.paginate a.end,
div.paginate02 a.next,
div.paginate a.next {
	width:24px;
	height:7px;
	_height:11px;
	padding:2px 0 0 2px;
	margin:-2px 0 0 0;
	border:none;
}

div.paginate02 a.next,
div.paginate a.next {
	background:url('../images/btn_next.jpg') no-repeat;
}

div.paginate02 a.end,
div.paginate a.end {
	background:url('../images/btn_nex_next.jpg') no-repeat;
}

div.paginate02 a.start span,
div.paginate a.start span,
div.paginate02 a.pre span,
div.paginate a.pre span,
div.paginate02 a.end span,
div.paginate a.end span,
div.paginate02 a.next span,
div.paginate a.next span {
	display:none;
}

div.paginate a.next, x:-moz-any-link, x:default {
	position:relative;
}

*:first-child+html div.paginate02 a.next,
*:first-child+html div.paginate a.next,
*:first-child+html div.paginate a.end,
*:first-child+html div.paginate02 a.end {
	width:24px;
	height:11px;
	padding:2px 0 0 2px;
	margin:-2px 0 0 0;
	border:none;
	position:relative;
	top:-1px;
}

/* pagenate02 */

div.paginate02 {
	width:100%;
	height:26px;
	padding:30px 0 0 0;
	_height:25px;
	text-align:center;
	border:none;
	clear: both;
}

div.paginate02, x:-moz-any-link, x:default {
	height:26px;
}

*:first-child+html div.paginate02 {
	height:26px;
}

div.paginate02 a.pre, x:-moz-any-link, x:default {
	position:relative;
}

div.paginate02 a.next, x:-moz-any-link, x:default {
	position:relative;
}

/* btns ---------------------------------------------------------------*/

a.btn_style01 {
	display:inline-block;
	height:24px;
	background:url('../images/btn_default.png') no-repeat left top;
	color:#4d4d4d;
	text-decoration:none !important;
	position:relative;
	margin-right:2px;
}

a.btn_style01 span {
	display:inline-block;
	height:18px;
	padding:5px 7px 0 7px;
	font-size:12px;
	color:#4d4d4d;
	font-weight:bold;
	letter-spacing:-1px;
	background:url('../images/btn_default.png') no-repeat right top;
	cursor:pointer;
	text-decoration:none;
	position:relative;
	left:2px;

	_height:17px;
	_padding:6px 7px 0 7px;
	*height:17px;
	*padding:6px 7px 0 7px;
}

a.btn_style01 span img {
	margin:4px 2px 0 0;
	_margin:3px 2px 0 0;
}

a.btn_style01 span.large {
	display:inline-block;
	height:18px;
	padding:6px 30px 0 30px;
	font-size:12px;
	color:#4d4d4d;
	font-weight:bold;
	letter-spacing:-1px;
	background:url('../images/bg_btn_style01_right.jpg') no-repeat right top;
	cursor:pointer;
	text-decoration:none;

	_padding:6px 29px 0 28px;
	*padding:6px 29px 0 28px;
}

a.btn_style02 {
	display:inline-block;
	height:22px;
	background:url('../images/bg_btn_style02_left.jpg') no-repeat left top;
	color:#606060;
	text-decoration:none !important;
}

a.btn_style02 span {
	display:inline-block;
	height:17px;
	padding:5px 12px 0 22px;
	font-size:11px;
	color:#606060;
	letter-spacing:-1px;
	background:url('../images/bg_btn_style02_right.jpg') no-repeat right top;
	cursor:pointer;
	text-decoration:none;

	_height:16px;
	_padding:6px 12px 0 22px;
	*height:16px;
	*padding:6px 12px 0 22px;
}

a.hide_button {display:inline-block; height:12px; padding:0 12px 0 0; background:url('../images/bu_green_arrow02.gif') no-repeat right 3px; color:#4d4d4d; text-decoration:none !important; font-size:12px;}

a.btn_style03 {
	display:inline-block;
	height:22px;
	background:url('../images/bg_btn_style03_left.jpg') no-repeat left top;
	color:#606060;
	text-decoration:none !important;
}

a.btn_style03 span {
	display:inline-block;
	height:17px;
	padding:5px 10px 0 10px;
	font-size:11px;
	color:#606060;
	letter-spacing:-1px;
	background:url('../images/bg_btn_style03_right.jpg') no-repeat right top;
	cursor:pointer;
	text-decoration:none;

	_height:16px;
	_padding:6px 10px 0 11px;
	*height:16px;
	*padding:6px 10px 0 10px;
}

a.btn_style04 {
	display:inline-block;
	height:21px;
	background:url('../images/bg_btn_style04_left.jpg') no-repeat left top;
	color:#646464;
	text-decoration:none !important;
}

a.btn_style04 span {
	display:inline-block;
	height:17px;
	padding:4px 9px 0 26px;
	font-size:11px;
	color:#646464;
	letter-spacing:-1px;
	background:url('../images/bg_btn_style04_right.jpg') no-repeat right top;
	cursor:pointer;
	text-decoration:none;

	_height:16px;
	_padding:5px 9px 0 26px;
	*height:16px;
	*padding:5px 9px 0 26px;
}

a.btn_style05 {
	display:inline-block;
	height:22px;
	background:url('../images/bg_btn_style05_left.jpg') no-repeat left top;
	color:#666;
	text-decoration:none !important;
	margin:0 1px 0 0;
}

a.btn_style05 span {
	display:inline-block;
	height:17px;
	padding:5px 12px 0 11px;
	font-size:11px;
	color:#666;
	letter-spacing:-1px;
	background:url('../images/bg_btn_style05_right.jpg') no-repeat right top;
	cursor:pointer;
	text-decoration:none;

	_height:16px;
	_padding:6px 12px 0 11px;
	*height:16px;
	*padding:6px 12px 0 11px;
}

a.btn-link,
a.btn_style06 {
	display:inline-block;
	height:21px;
	background:url('../images/bg_btn_style06_left.jpg') no-repeat left top;
	color:#646464;
	text-decoration:none !important;
	vertical-align:middle; /* important for IE */
}

a.btn-link span,
a.btn_style06 span {
	display:inline-block;
	height:17px;
	padding:4px 8px 0 8px;
	font-size:11px;
	color:#646464;
	letter-spacing:-1px;
	background:url('../images/bg_btn_style04_right.jpg') no-repeat right top;
	cursor:pointer;
	text-decoration:none;

	_height:16px;
	_padding:5px 8px 0 8px;
	*height:16px;
	*padding:5px 8px 0 8px;
}

a.btn_style06 span img {
	vertical-align:middle;
	margin:0 4px 1px 0;
}

a.btn_style07 {
	display:inline-block;
	height:21px;
	background:url('../images/bg_btn_style07_left.jpg') no-repeat left top;
	color:#646464;
	text-decoration:none !important;
}

a.btn_style07 span {
	display:inline-block;
	height:17px;
	padding:4px 8px 0 15px;
	font-size:11px;
	color:#646464;
	letter-spacing:-1px;
	background:url('../images/bg_btn_style04_right.jpg') no-repeat right top;
	cursor:pointer;
	text-decoration:none;

	_height:16px;
	_padding:5px 8px 0 15px;
	*height:16px;
	*padding:5px 8px 0 15px;
}

a.monitor,
a.btn_style08 {
	display:inline-block;
	height:14px;
	padding:0 0 0 12px;
	background:url('../images/bu_red_cross.jpg') no-repeat left 1px;
	color:#4d4d4d;
	text-decoration:none !important;
	font-size:11px;
}

a.monitorstop,
a.btn_style_minus {
	display:inline-block;
	height:14px;
	padding:0 0 0 12px;
	background:url('../images/bu_red_minus.gif') no-repeat left 5px;
	color:#4d4d4d;
	text-decoration:none !important;
	font-size:11px;
	_background:url('../images/bu_red_minus.gif') no-repeat left 4px;
}

a.add-release,
a.btn-normal,
a.add-comment,
a.agree, a.disagree,
a.btn_style11,
a.btn_style09 {
	display:inline-block;
	height:24px;
	background:url('../images/btn_default.png') no-repeat left top;
	color:#666;
	text-decoration:none !important;
	margin:0 2px 0 0;
	position:relative;
}

a.add-release span,
a.add-comment span,
a.btn-normal span,
a.agree span, a.disagree span,
a.btn_style11 span,
a.btn_style09 span {
	display:inline-block;
	height:19px;
	padding:5px 10px 0 10px;
	font-size:12px;
	color:#4d4d4d;
	font-weight:bold;
	letter-spacing:-1px;
	background:url('../images/btn_default.png') no-repeat right top;
	cursor:pointer;
	text-decoration:none;
	position:relative;
	left:2px;

	_height:18px;
	_padding:6px 10px 0 10px;
	*height:18px;
	*padding:6px 10px 0 10px;
}

a.disagree span { font-weight:normal; }

span.btn_style10 {
	display:inline-block;
	height:12px;
	padding:0 12px 0 0;
	background:url('../images/bu_green_arrow.jpg') no-repeat right 3px;
	color:#4d4d4d;
	text-decoration:none !important;
	font-size:12px;
}

a.btn-normal span,
a.btn_style11 span {
	font-weight:normal;
	color:#363636;
}

a.btn_style12 {
	display:inline-block;
	height:21px;
	background:url('../images/bg_btn_style06_left.jpg') no-repeat left top;
	color:#646464;
	text-decoration:none !important;
}

a.btn_style12 span {
	display:inline-block;
	height:18px;
	padding:3px 8px 0 8px;
	font-size:11px;
	color:#646464;
	letter-spacing:-1px;
	background:url('../images/bg_btn_style04_right.jpg') no-repeat right top;
	cursor:pointer;
	text-decoration:none;

	_height:19px;
	_padding:2px 8px 0 8px;
	*height:19px;
	*padding:2px 8px 0 8px;
}

a.btn_style12 strong {
	display:inline-block;
	height:18px;
	padding:3px 8px 0 8px;
	font-size:11px;
	color:#4d4d4d;
	letter-spacing:-1px;
	background:url('../images/bg_btn_style04_right.jpg') no-repeat right top;
	cursor:pointer;
	text-decoration:none;

	_height:19px;
	_padding:2px 8px 0 8px;
	*height:19px;
	*padding:2px 8px 0 8px;
}

/* start-page.css from stony theme */
#my_menu {
	position: absolute;
	top: 3px;
	right: 0;
	font-size: 12px;
	line-height: 23px;
}

#my_menu ul {
	float: left;
	margin: 0;
	padding: 0;
}

#my_menu li {
	float: left;
	margin-right: 10px;
	list-style: none;
}

#my_menu a {
	color: #7e7e7c;	
}

#my_menu select {
	float: right;
	height: 21px;
}
#menu {
	position: absolute;
	right: 0;
	top: 47px;
	margin: 0;
	padding: 0;
}

#menu li {
	float: left;
	height: 17px;
	line-height: 17px;
	font-size: 14px;
	margin: 0;
	padding: 0 38px;
	list-style: none;
	border-left: 1px solid #e0e0e0;
}

#menu li.left {
	border: 0;
}

#menu li a {
	font-weight: bold;
}

#container {
	position: relative;
	min-height: 600px;
}

#trove_list h2 {
	margin: 0;
	display: block;
	width: 202px;
	height: 39px;
	background: url('../images/bg_directory.png');
}

#left_sidebar {
	float: left;
	left: 0;
	margin: 10px 5px 10px 0px;
}

#trove_list h2 span {
	display: block;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	padding-top: 14px;
	margin-left: 13px;
	font-variant: small-caps;
}

#trove_list ul {
	margin: 0 0 10px 0;
	padding: 0 8px 8px;
	background-color: #fbfbfb;
	border: 1px solid #eeeeee;
	width: 184px;
}

#trove_list li {
	margin: 0;
	padding: 0;
	padding-left: 9px;
	background: url('../images/bg_directory_item.png');
	width: 174px;
	height: 34px;
	display: block;
}

#trove_list li a {
	line-height: 32px;
	font-size: 12px;
}

#middle {
	width: 516px;
	float: left;
	margin: 20px 5px 10px 5px;
}

#middle h2 {
	font-size: 16px;
	font-weight: bold;
	float: left;
	padding: 0;
	margin: 0;
}

#middle .more {
	float: right;
	font-size: 12px;
	display: none;
}

#middle h3 {
	font-size: 14px;
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}

#middle ul {
	padding: 0;
	margin: 0;
	clear: both;
}

#middle li {
	border-bottom: 1px solid #f1f1f1;
	padding: 0;
	margin: 0;
	list-style: none;
}

#middle .subject {
	padding-top: 15px;
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 5px;
}

#middle .num_comments {
	font-size: 12px;
	color: #fa6f46;
}

#middle .author {
	font-size: 12px;
}

#middle .date {
	font-size: 12px;
}

#middle .content {
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#shared_news {
	padding-top: 20px;
}

#shared_news table {
	width: 100%;
	border-spacing: 0;
	float: left;
}

#shared_news table th {
	display: none;
}

#shared_news td.title {
	font-size: 12px;
	height: 20px;
	padding-top: 15px;
}

#shared_news td.title {
	font-weight: bold;
}

#shared_news td.domain {
	white-space: nowrap;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 5px;
}

#shared_news td.date {
	text-align: center;
}

#sidebar_right {
	float: left;
	width: 242px;
	margin: 10px 0px 10px 5px;
}

#login_form {
	margin-top: 10px;
	border: 2px solid #d9d9d9;
	padding: 17px 8px;
}

#login_form form {
	display: inline;
}

#login_form input {
	width: 139px;
	height: 19px;
	border: 1px solid #e5e5e5;
	background-color: #f2f2f2;
}

#login_form input#id {
	padding-left:5px;
	background: url('../images/bg_login_id.png') no-repeat;
}

#login_form input#id:focus,
#login_form input#pw:focus {
	background-image: none;
}

#login_form input#pw {
	padding-left:5px;
	background: url('../images/bg_login_pass.png') no-repeat;
}

#login_form fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

#login_form legend, #login_form label {
	display: none;
}

#login_form button {
	background: url('../images/btn.png') no-repeat;
	background-position: left top;
	_width: 65px;
	*width: 65px;
	height: 22px;
}

#login_form button, x:-moz-any-link, x:default {
} /* Mozilla 계열만 인식되는 firefox 핵 */

#login_form button span {
	background: url('../images/btn.png') no-repeat;
	background-position: right top;
	height: 22px;
}

#login_form div {
	margin: 10px 0 0;
	text-align: center;
	font-size: 12px;
}

#login_form a {
	color: #969696;
}

#login_form a.register {
	margin-right: 10px;
	padding-left: 14px;
	color: #000;
	background: url('../images/bg_login_register.png') no-repeat;
}

#logged_form {
	border: 2px solid #d9d9d9;
	padding: 17px 8px;
	clear: both;
	margin-top: 10px;
	text-align: center;
}

#logged_form select {
	margin: 10px 0px 10px;
	width: 200px;
}

.widget div {
	clear: both;
	padding: 10px 5px 5px 5px;
	border: 1px solid #d9d9d9;
	margin-top: 10px;
	background-color: #fcfcfc;
}

#my_projects {
	width: 100%;
	padding:2px;
	font-size:12px;
	font-family:dotum;
	letter-spacing:-1px;
	color:#30363c !important;
}

.widget h3 {
	float: left;
	margin: 0;
	padding: 0;
	padding-left: 9px;
	font-size: 14px;
	margin-bottom: 10px;
}

.widget .more {
	float: right;
	font-size: 12px;
}

.widget ul {
	clear: both;
	background-color: #fff;
	border: 1px solid #ececec;
	padding: 8px 7px;
	margin-bottom: 10px;
}

.widget li {
	margin: 0;
	padding: 0;
	background: url('../images/bg_widget_left.png') no-repeat;
	padding-left: 18px;
	list-style: none;
	font-size: 13px;	
	height: 26px;
	border-bottom: 1px solid #f7f7f7;
}

.widget li.last {
	border: 0;
}

.widget table {
	clear: both;
	width: 228px;
	border: 1px solid #ececec;
	background-color: #fff;
	padding: 8px 7px;
	border-spacing: 0;
	border-collapse: separate;
}

.widget th {
	display: none;
}

.widget td {
	font-size: 13px;
	height: 26px;
	border-bottom: 1px solid #f7f7f7;
}

.widget td.last {
	border: 0;
}

.widget td.left {
	background: url('../images/bg_widget_left.png') no-repeat;
	padding-left: 18px;
}

.widget td.right {
	text-align: right;
	color: #999;
	font-weight: bold;
	font-size: 12px;
}

.widget td.project_image {
	padding-left: 0;
}

.widget td.project_image a {
	border: 0;
}

.widget td.project_image img {
	width: 130px;
	border: 1px solid #d1d1d1;
}

#container-header {
	height: 24px;
}	

#login_form input {
	padding-top: 1px;
	padding-bottom: 1px;
}
