@charset "utf-8";

/* title */
.title_mypage {
	height:26px;
	padding:29px 0 0 7px;
	_padding:28px 0 0 7px;
	font-size:16px;
	color:#000;
	border-bottom:2px solid #636363;
}

.title_mypage , x:-moz-any-link, x:default {
	height:27px;
	padding:28px 0 0 7px;
}

*:first-child+html  .title_mypage  {
	height:26px;
	padding:29px 0 0 7px
}


/* side menu */ /*
.mypage_menu_sub {
	border-top:1px solid #E1E6E9;
	left:0;
	position:absolute;
	top:10px;
	width:136px;
}

.mypage_menu_sub {
	position:absolute;
	top:10px;
	left:0;
	width:136px;
	border-top:1px solid #e1e6e9;
}

.mypage_menu_sub ul li {
	width:134px;
	margin:-1px 0 0 0;
	border:1px solid #e1e6e9;
	background:#fafafa;
}

.mypage_menu_sub ul li.last {
	border-bottom:1px solid #dbe1e2;
}

.mypage_menu_sub ul li a {
	display:inline-block;
	width:118px;
	padding:14px 5px 13px 11px;
	_padding:14px 0 11px 16px;
	font-weight:bold;
	color:#72777b;
	text-decoration:none;
	background:url('../images/bu_arrow_gray.jpg') no-repeat 109px 16px;
}

.mypage_menu_sub ul li a, x:-moz-any-link, x:default {
	padding:13px 0 12px 11px;
}

*:first-child+html  .mypage_menu_sub ul li a {
	padding:14px 0 13px 11px;
}

.mypage_menu_sub ul li.selected {
	position:relative;
	width:134px;
	margin:-1px 0 -1px 0;
	border:1px solid #bcc0c3;
	background:#fafafa
}

.mypage_menu_sub ul li.selected a {
	color:#505050;
	background:url('../images/bu_arrow_green02.jpg') no-repeat 109px 16px;
}

/* common */
fieldset{
	border:0;
}
 
legend {
	display:none;
}

/* btn */
a.btn_style21 {
	display:inline-block;
	height:21px;
	background:url('../images/bg_btn_style21_left.jpg') no-repeat left top;
	color:#646464;
	text-decoration:none !important;
	margin-left:5px;
	vertical-align:middle
}

a.btn_style21 span {
	display:inline-block;
	height:16px;
	padding:5px 8px 0 15px;
	font-size:11px;
	color:#646464;
	letter-spacing:-1px;
	background:url('../images/bg_btn_style04_right.jpg') no-repeat right top;
	cursor:pointer;
	text-decoration:none;
}

a.btn_style21 span, x:-moz-any-link, x:default {
	height:17px;
	padding:4px 8px 0 15px;
}

*+html a.btn_style21 span {
	height:16px;
	padding:5px 8px 0 15px;
}

a.btn_style22 {
	display:inline-block;
	height:21px;
	background:url('../images/bg_btn_style22_left.jpg') no-repeat left top;
	color:#646464;
	text-decoration:none !important;
	margin-left:5px;
	vertical-align:middle
}

a.btn_style22 span {
	display:inline-block;
	height:16px;
	padding:5px 12px 0 12px;
	font-size:11px;
	color:#646464;
	letter-spacing:-1px;
	background:url('../images/bg_btn_style04_right.jpg') no-repeat right top;
	cursor:pointer;
	text-decoration:none;
}

a.btn_style22 span, x:-moz-any-link, x:default {
	height:17px;
	padding:4px 12px 0 12px;
}

*+html a.btn_style22 span {
	height:16px;
	padding:5px 12px 0 12px;
}

a.btn_style23 {
	background:transparent url(../images/bg_btn_style06_left.jpg) no-repeat scroll left top;
	color:#646464;
	margin-right:1px;
	display:inline-block;
	height:21px;
	text-decoration:none !important;
}

a.btn_style23 span, x:-moz-any-link, x:default {
	height:17px;
	padding:2px 7px 0 8px;
	text-align:center;
}

a.btn_style23 span {
	background:transparent url(../images/bg_btn_style04_right.jpg) no-repeat scroll right top;
	color:#646464 !important;
	cursor:pointer;
	display:inline-block;
	font-family:dotum !important;
	font-size:11px !important;
	height:16px;
	letter-spacing:-1px;
	padding:2px 7px 0 8px;
	text-decoration:none;
}

a.btn_style24 {
	background:transparent url(../images/bg_btn_style06_left.jpg) no-repeat scroll left top;
	color:#646464;
	margin:5px 1px 0 0;
	display:inline-block;
	height:21px;
	text-decoration:none !important;
}

a.btn_style24 span, x:-moz-any-link, x:default {
	height:17px;
	padding:2px 7px 0 8px;
	text-align:center;
}

a.btn_style24 span {
	background:transparent url(../images/bg_btn_style04_right.jpg) no-repeat scroll right top;
	color:#646464 !important;
	cursor:pointer;
	display:inline-block;
	font-family:dotum !important;
	font-size:11px !important;
	height:16px;
	letter-spacing:-1px;
	padding:2px 7px 0 8px;
	text-decoration:none;
}



/* cont */
.mypage_con_warp {
	background:#FFFFFF none repeat scroll 0 0;
	border-right:1px solid #EBEBEB;
	padding:10px 12px 40px 0;
	position:relative;
	width:819px;
}

.mypage_con_warp .h3_mypage1, .mypage_con_warp h3 {
	background:transparent url(../images/bg_bar05.jpg) no-repeat scroll 10px 18px;
	color:#424E5A;
	font-size:14px;
	letter-spacing:-1px;
	padding:19px 0 1px 19px;
	position:relative;
}

.mypage_con_warp .h3_mypage2 {
	background:transparent url(../images/bg_bar05.jpg) no-repeat scroll 10px 38px;
	color:#424E5A;
	font-size:14px;
	letter-spacing:-1px;
	padding:39px 0 1px 19px;
	position:relative;
}

.mypage_con_warp h3 .txt01 {
	font-size:11px;
	color:#999;
	font-weight:normal;
	position:absolute;
	right:0;
	top:20px;
}

.mypage_con_warp h3 .txt02 {
	font-size:11px;
	color:#999;
	font-weight:normal;
	position:absolute;
	right:0;
	top:40px;
}

.mypage_con_warp h4 {
	background:transparent url(../images/bg_bar05.jpg) no-repeat scroll 10px 18px;
	color:#424E5A;
	font-size:14px;
	letter-spacing:-1px;
	padding:19px 0 1px 19px;
	position:relative;
}

.mypage_con_warp ul {
	list-style:none;
}


.mypage_list {
	width:819px;
	border-top:1px solid #a8a8a8;
	border-bottom:1px solid #bfbfbf;
	margin:6px 0 0 0;
	margin-bottom:55px;
}

:root .mypage_list {
	width:819px;
	border-top:1px solid #a8a8a8;
	border-bottom:1px solid #a8a8a8;
	margin-top:5px;
	margin-bottom:55px;
}

.mypage_list th {
	height:33px;
	font-size:11px;
	letter-spacing:-1px;
	color:#505050;
	font-weight:normal;
	background:url('../images/bg_commit_lot_th.jpg') repeat-x left top;
}

.mypage_list th.pdr_10 {
	padding-right:10px;
}

.mypage_list th.select_box {
	padding-left:15px;
	text-align:left;
}

.mypage_list th.tit {
	padding-right:240px;
}

.mypage_list th select{
	width:72px;
	font-size:12px;
	color:#666;
	font-weight:bold;
	font-family:dotum;
}

.mypage_list td {
	height:31px;
	color:#666;
	border-bottom:1px solid #e5e5e5;
	line-height:18px;
}
 
.mypage_list td.w61 {
	width:61px;
	font-size:11px;
	font-family:tahoma;
	text-align:center;
	color:#666;
}

.mypage_list td.w63 {
	width:63px;
	font-size:11px;
	font-family:tahoma;
	text-align:center;
	color:#666;
}

.mypage_list td.mag {
	width:73px;
	font-size:11px;
	font-family:dotum;
	text-align:center;
	color:#666;
}

.mypage_list td.action {
	width:51px;
	font-size:11px;
	font-family:dotum;
	text-align:center;
	color:#666;
	padding:0 10px 0 0;
}

.mypage_list td.revision {
	font-size:12px;
	font-family:dotum;
	text-align:left;
	color:#999;
	padding:0 0 0 14px;
}

.mypage_list td.revision a {
	font-size:12px;
	font-family:dotum;
	text-align:left;
	color:#666;
}

.mypage_list td.select {
	width:109px;
	font-size:12px;
	font-family:dotum;
	text-align:left;
	color:#666;
	padding:0 0 0 14px;
}

.mypage_list td.number {
	width:73px;
	font-size:11px;
	font-family:tahoma;
	text-align:center;
	color:#666;
}

.mypage_list td.importance {
	width:51px;
	font-size:11px;
	font-family:tahoma;
	font-weight:bold;
	text-align:center;
	color:#666;
	padding-right:10px;
}

.mypage_list td a {
	color:#666;
}

.mypage_list tr.first td {
	height:30px;
}

.mypage_list tr.last td {
	border:none;
}


.mypage_list2 {
	width:819px;
	border-top:1px solid #a8a8a8;
	border-bottom:1px solid #bfbfbf;
	margin:6px 0 2px 0;
}

.mypage_list2 th {
	height:33px;
	font-size:11px;
	letter-spacing:-1px;
	color:#505050;
	font-weight:normal;
	background:url('../images/bg_commit_lot_th.jpg') repeat-x left top;
	width:769px;
}

.mypage_list2 th.pdr_10 {
	padding-right:10px;
	width:50px;
}

.mypage_list2 th.tit {
	padding-right:240px;
}

.mypage_list2 td {
	height:31px;
	color:#666;
	border-bottom:1px solid #e5e5e5;
	line-height:18px;
}
 
:root .mypage_list2 td {
	height:30px;
	padding:7px 0 7px 0;
	color:#666;
	border-bottom:1px solid #e5e5e5;
	line-height:18px;
}
 
.mypage_list2 td.revision {
	font-size:12px;
	font-family:dotum;
	text-align:left;
	color:#999;
	padding:0 0 0 14px;
}

.mypage_list2 td.revision a {
	font-size:12px;
	font-family:dotum;
	text-align:left;
	vertical-align:top;
	color:#666;
}

.mypage_list2 td.erase {
	width:51px;
	text-align:center;
	vertical-align:middle;
	color:#666;
	padding:0 6px 0 0;
}

.mypage_list2 tr.first td {
	height:30px;
}

.mypage_list2 tr.last td {
	border:none;
}


.mypage_write {
	width:819px;
	border-top:1px solid #a8a8a8;
	border-right:1px solid #e5e5e5;
	border-bottom:1px solid #a8a8a8;
	border-left:1px solid #e5e5e5;
}

:root .mypage_write {
	width:819px;
	border-top:1px solid #a8a8a8;
	border-right:1px solid #e5e5e5;
	border-bottom:1px solid #a8a8a8;
	border-left:1px solid #e5e5e5;
	margin-top:1px;
}

.mypage_write tr.last {
	border:none;
}

.mypage_write th {
	border-bottom:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	padding:9px 0 8px 6px;
	width:117px;
	text-align:left;
	background:#fafafa;
	font-weight:normal;
	font-size:12px;
	color:#4d4d4d
}

.mypage_write td {
	border-bottom:1px solid #e5e5e5;
	padding-left:10px;
	font-size:12px;
	color:#666;
}

.mypage_write td select{
	width:193px;
	font-size:12px;
	color:#666;
	font-family:dotum;
}

.mypage_write td label {
	padding:0 102px 0 3px;
	position:relative;
	top:1px;
}

.mypage_write td .input_check {
	width:13px;
	height:13px;
}

.mypage_write td .input_box {
	width:337px;
	border:1px solid #CFCFCF;
	font-family:dotum;
	color:#666;
	padding:3px 0 3px 7px;
}

:root .mypage_write td .input_box {
	width:337px;
	border:1px solid #CFCFCF;
	font-family:dotum;
	color:#666;
	padding:3px 0 3px 7px;
	position:relative;
	top:0;
}

.mypage_write div.api_suj {
	padding:7px 100px 6px 0;
	line-height:16px;
	position:relative;
}

.mypage_write div.api_suj .btn {
	padding:7px 9px 6px 0;
	position:absolute;
	bottom:5px;
	right:0px;
}

:root .mypage_write div.api_suj .btn {
	padding:7px 9px 6px 0;
	position:absolute;
	bottom:2px;
	right:0px;
}



.mypage_write2 {
	width:819px;
	border-top:1px solid #a8a8a8;
	border-right:1px solid #e5e5e5;
	border-bottom:1px solid #a8a8a8;
	border-left:1px solid #e5e5e5;
	margin:6px 0 2px 0;
}

:root .mypage_write2 {
	width:819px;
	border-top:1px solid #a8a8a8;
	border-right:1px solid #e5e5e5;
	border-bottom:1px solid #a8a8a8;
	border-left:1px solid #e5e5e5;
	margin-top:1px;
	margin:5px 0 0 0;
}

.mypage_write2 tr.last {
	border:none;
}

.mypage_write2 th {
	border-bottom:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	padding:9px 0 8px 6px;
	width:117px;
	text-align:left;
	background:#fafafa;
	font-weight:normal;
	font-size:12px;
	color:#4d4d4d
}

.mypage_write2 td {
	border-bottom:1px solid #e5e5e5;
	padding-left:10px;
	font-size:12px;
	color:#666;
}

.mypage_write2 td .input_box {
	width:337px;
	border:1px solid #CFCFCF;
	font-family:dotum;
	color:#666;
	padding:3px 0 3px 7px;
}

.mypage_write2 td label {
	padding:0 5px 0 2px;
	position:relative;
	top:1px;
}

.myp_text_box1 {
	border:1px solid #CFCFCF;
	height:87px;
	margin:5px 0 0 0;
	padding:8px;
	width:802px;
	font-size:12px;
	color:#4d4d4d;
	overflow:auto; 
}

.myp_text_box2 {
	border:1px solid #CFCFCF;
	height:338px;
	margin:5px 0 40px 0;
	padding:7px;
	width:802px;
	font-size:12px;
	color:#4d4d4d;
	overflow:auto;
}

#change_email_form div.btnsets {
	margin:24px 0 0 114px;
}
